 <!-- start  -->
<div class="row">
    <div class="col-12">
        <div>
            <h4 class="header-title mb-3">Loại sản phẩm</h4>
        </div>
    </div>
</div>
<!-- end row -->
{{#if this.empty}}
<div class="row">
    <div class="col-12">   
        <div class="mt-5">
            <h5 class="font-14">Chưa kết nối database</h5>
            <p class="sub-header">
                Không có loại nào
            </p>
        {{else}}
            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Mã DM</th>
                        <th>Tên</th>
                        <th>Sửa</th>
                    </tr>
                </thead>

                <tbody>
                        {{#each this.loaisp}}
                    <tr>
                        <td>{{MaLoai}}</td>
                        <td>{{MaDM}}</td>
                        <td>{{TenLoai}}</td>
                        <td class="text-right">
                            <a name="" id="" class="btn btn-primary btn-sm" href="/admin/category/edit/{{MaLoai}}" role="button" title="sửa loại">
                                <i class="mdi mdi-border-color" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
        </div>
        <!-- end -->
    </div>
</div>
<!-- end row -->