
<body>
  <!-- Categories Section Begin -->
  <section class="categories">
    <div class="container">
      <div class="row">
        <div class="categories__slider owl-carousel">
          <div class="col-lg-3">
            <div
              class="categories__item set-bg"
              data-setbg="/public/images/banner2.jpg"
            >
            </div>
          </div>
          <div class="col-lg-3">
            <div
              class="categories__item set-bg"
              data-setbg="/public/images/banner4.jpg"
            >
            </div>
          </div>
          <div class="col-lg-3">
            <div
              class="categories__item set-bg"
              data-setbg="/public/images/banner7.jpg"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Categories Section End -->

  <section class="product spad">
    <div class="container">
      <!-- fashion section start -->
      {{! <div class="row">
               <div class="col-lg-12 col-md-12">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Giảm Giá</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                <div class="col-lg-3">
                                        <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/public/img/product/discount/pd-1.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Dried Fruit</span>
                                            <h5><a href="#">Raisin’n’nuts</a></h5>
                                            <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                        </div>
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                        <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/public/img/product/discount/pd-2.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Vegetables</span>
                                            <h5><a href="#">Vegetables’package</a></h5>
                                            <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                        </div>
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                        <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/public/img/product/discount/pd-3.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Dried Fruit</span>
                                            <h5><a href="#">Mixed Fruitss</a></h5>
                                            <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                        </div>
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                        <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/public/img/product/discount/pd-4.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Dried Fruit</span>
                                            <h5><a href="#">Raisin’n’nuts</a></h5>
                                            <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                        </div>
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                        <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/public/img/product/discount/pd-5.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Dried Fruit</span>
                                            <h5><a href="#">Raisin’n’nuts</a></h5>
                                            <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                        </div>
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                        <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/public/img/product/discount/pd-6.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Dried Fruit</span>
                                            <h5><a href="#">Raisin’n’nuts</a></h5>
                                            <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                        </div>
                                        </div>
                                </div>
                                    <div class="col-lg-3">
                                        <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/public/img/product/discount/pd-6.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Dried Fruit</span>
                                            <h5><a href="#">Raisin’n’nuts</a></h5>
                                            <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                        </div>
                                        </div>
                                </div>
                                    <div class="col-lg-3">
                                        <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/public/img/product/discount/pd-6.jpg">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>Dried Fruit</span>
                                            <h5><a href="#">Raisin’n’nuts</a></h5>
                                            <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div> }}
      <!-- fashion section end -->

      <!-- Featured Section start  -->
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h2>Sản Phẩm Nổi Bật</h2>
          </div>
          <div class="featured__controls">
            <ul>
              <li class="active" data-filter="*">Tất Cả</li>
              <li data-filter=".oranges">Áo</li>
              <li data-filter=".fresh-meat">Quần</li>
              <li data-filter=".vegetables">Phụ Kiện</li>

            </ul>
          </div>
        </div>
      </div>
      <section class="main-bottom-vertical">

        <!-- san pham ,phan trang end-->
        <div class="row featured__filter">
          {{#each this.sanpham}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
              <div class="featured__item">
                <a href="/products/detail/{{MaSP}}" class="image">
                  <img
                    class="featured__item__pic set-bg"
                    src="/public/images/{{Anh}}"
                    alt="{{TenSP}}"
                    title="{{TenSP}}"
                    :
                    {{Gia}}
                    class="card-img-top"
                  />
                </a>
                <span class="product-discount-label">{{MaSP}}</span>
                <div class="featured__item__text">
                  <h6><a href="/products/detail/{{MaSP}}">{{TenSP}}</a></h6>
                  <h5>{{format_number Gia}} đ</h5>
                </div>
              </div>
            </div>
          {{/each}}
        </div>

        <nav
          aria-label="..."
          style="display: flex; align-items: center; justify-content: center;"
        >
          <ul class="pagination">
            <li class="page-item">
              <a
                class="page-link"
                style=" background-color: #f5447b;border-color: #c12e7f; color: #fff;border-radius: 100%;padding: 9px 16px;"
                href="?page={{prev_value}}"
                aria-label="Previous"
              >
                <span aria-hidden="true"><i
                    class="fas fa-angle-double-left"
                  ></i></span>
              </a>
            </li>
            {{#each this.page_items}}
              {{#if isActive}}
                <li class="page-item active" aria-current="page">
                  <span
                    class="page-link"
                    style=" background-color: #ff004f;
                        border-color: #c12e7f; color: rgb(0, 0, 0);border-radius: 100%;
                        padding: 9px 16px;"
                  >
                    {{value}}
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
              {{else}}
                <li class="page-item">
                  <a
                    class="page-link"
                    style=" background-color: #f5447b;
                    border-color: #c12e7f; color: #fff;border-radius: 100%;
                    padding: 9px 16px;"
                    href="?page={{value}}"
                  >{{value}}</a>
                </li>
              {{/if}}
            {{/each}}
            <li class="page-item">
              <a
                class="page-link"
                style=" background-color: #f5447b;border-color: #c12e7f; color: #fff;border-radius: 100%;padding: 9px 16px;"
                href="?page={{next_value}}"
                aria-label="Next"
              >
                <span aria-hidden="true"><i
                    class="fas fa-angle-double-right"
                  ></i></span>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </div>

    <!-- Featured Section End -->
  </section>

</body>