

<style type="text/css">
    .item{
        border-bottom: unset !important;
    }
</style>
<div class="container container2">

    <div style="margin:0 auto;">
    
        <div class="home_row" style="margin-top: 0px;">

                <a href="" onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;BannerHome1&#39;, &#39;clickBanner&#39;, &#39;dam-cau-vong-be-gai&#39;);"> 
            <img src="/public/main/banner-home-1-desktop.jpg" width="100%" style="margin: 0px auto 0px auto;"></a>

                {{!-- <div id="adverts_slide_mobile">
                    <div class="adverts_item col-sm-4 col-md-4">
                        <a href="http://www.bexinhshop.vn/hinh-thuc-van-chuyen.html" rel="nofollow">
                            <span class="text-advert-header">Giao hàng toàn quốc</span>
                            <span class="text-advert-subheader"></span>
                        </a>
                    </div>
                    <div class="adverts_item col-sm-4 col-md-4">
                        <a rel="nofollow" href="http://www.bexinhshop.vn/chinh-sach-doi-tra-hang.html">
                            <span class="text-advert-header">Dễ dàng đổi trả hàng</span>
                            <span class="text-advert-subheader">Trong vòng 3 ngày</span>
                        </a>
                    </div>
                    <div class="adverts_item col-sm-4 col-md-4">
                        <a rel="nofollow" href="http://www.bexinhshop.vn/shop-quan-ao-tre-em-be-xinh.html">
                            <span class="text-advert-header">Đặt hàng trực tuyến</span>
                            <span class="text-advert-subheader">Hotline : 1900.636.100</span>
                        </a>
                    </div>
                </div> --}}
            </div>

        <div class="home_row_mobile " style="padding-top: 0px">
            <div class="home_banner ">
        
            <!--<a href="http://www.bexinhshop.vn/tag/đồ-bơi-trẻ-em.html" onClick="ga('send', 'event', 'BannerHome1', 'clickBanner', 'Do-boi-tre-em');"> 
            <img src="https://www.bexinhshop.vn/do-boi-banner-home-mob.jpg" width="100%" style="margin: 0px auto 0px auto;" /></a> -->


                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                            

                        <div class="swiper-slide">
                                    <div class="adverts_item col-sm-4 col-md-4">
                                
                                    <a href="https://www.bexinhshop.vn/size-dai-dam-tang-cau-vong-in-tho-de-thuong-cho-be-gai-10-16-tuoi-bxg023.html" onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;BannerHome1&#39;, &#39;clickBanner&#39;, &#39;dam-cau-vong-mobile&#39;);"> 
            <img src="/public/main/banner-home-1-mobile.jpg" width="100%" style="margin: 0px auto 0px auto;"></a>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="adverts_item col-sm-4 col-md-4">
                                
                                    <a href="https://www.bexinhshop.vn/dam-form-rong-bo-sua-de-thuong-cho-be-gai-2-9-tuoi-bxg024.html" onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;BannerHome1&#39;, &#39;clickBanner&#39;, &#39;dam-bo-sua-mobile&#39;);"> 
            <img src="/public/main/banner-home-2-mobile.jpg" width="100%" style="margin: 0px auto 0px auto;"></a>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="adverts_item col-sm-4 col-md-4">
                                
                                    <a href="https://www.bexinhshop.vn/size-dai-set-ao-croptop-quan-jogger-the-thao-de-thuong-cho-be-gai-10-16-tuoi-bxg002.html" onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;BannerHome1&#39;, &#39;clickBanner&#39;, &#39;set-croptop-mobile&#39;);"> 
            <img src="/public/main/banner-home-3-mobile.jpg" width="100%" style="margin: 0px auto 0px auto;"></a>
                                    </div>
                                </div>
                            
                            <div class="swiper-slide">
                                    <div class="adverts_item col-sm-4 col-md-4">
                                

                                    <a href="https://www.bexinhshop.vn/thoi-trang-so-sinh" onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;BannerHome1&#39;, &#39;clickBanner&#39;, &#39;so-sinh&#39;);"> 
            <img src="/public/main/banner-sosinh-mobi.jpg" width="100%" style="margin: 0px auto 0px auto;"></a>
                                    </div>
                                </div>
                                
                                <div class="swiper-slide">
                                    <div class="adverts_item col-sm-4 col-md-4">                            
                                    <a href="https://www.bexinhshop.vn/set-ao-croptop-quan-tole-alibaba-hoa-tiet-de-thuong-cho-be-gai-3-8-tuoi-bgb118181.html" onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;BannerHome1&#39;, &#39;clickBanner&#39;, &#39;Set-ablibaba-mobi&#39;);"> 
            <img src="/public/main/banner-style-street-mobi.jpg" width="100%" style="margin: 0px auto 0px auto;"></a>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                <div class="adverts_item col-sm-4 col-md-4">
                                

                                    <a href="http://www.bexinhshop.vn/tag/%C4%91%E1%BB%93ng-gi%C3%A1-79K.html" onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;BannerHome1&#39;, &#39;clickBanner&#39;, &#39;dong-gia-79K&#39;);"> 
            <img src="/public/main/banner-sale-n.jpg" width="100%" style="margin: 0px auto 0px auto;"></a>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="adverts_item col-sm-4 col-md-4">
                
                                    <a href="http://www.bexinhshop.vn/tag/%C4%91%E1%BB%93-b%C6%A1i-tr%E1%BA%BB-em.html" onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;BannerHome1&#39;, &#39;clickBanner&#39;, &#39;Do-boi-tre-em&#39;);"> 
            <img src="/public/main/do-boi-banner-home-mob.jpg" width="100%" style="margin: 0px auto 0px auto;"></a>
                                    </div>
                                </div> 
                                
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    
                    </div>
        </div>

        
        <div class="content_home" id="pinboard">
            <div class="box recommend" style="margin-top: 0px">
            <div class="title_home">
            <span class="frontpage-title-home" href="javascript:void(0)">sản phẩm giảm giá</span>
            </div>

            {{#each this.giamgia}}
                <div class="item item_home" style="height:auto;">
                <div class="image">
                    <a href="/products/detail/{{MaSP}}" title="{{TenSP}}" alt="{{TenSP}}">
                    <img src="/public/images/{{Anh}}" alt="{{TenSP}}" class="zoomhover">
                </a>
                </div>
                <div class="pindesc"></div>
                <div class="product_name"><a href="/products/detail/{{MaSP}}">
                    <h3 style="line-height:20px;margin: 0px;color:#444">{{TenSP}}</h3></a></div>
            
                    <div class="pull-left">
                    
                <div class="price">
                <div class="discount-tag"> {{phantram}}%</div>
                <span class="price-new">{{format_number giakm}} đ</span><span class="price-old colorfront">{{format_number Gia}} đ</span>
                </div>
                
            </div> 
            
                </div>
            {{/each}}
            
            </div>
            <br clear="all">
            <div class="title_home">
            <span class="frontpage-title-home">danh mục sản phẩm</span>
            </div>
            <div class="card-categories-ul">
                <div class="card-categories-li hp-mod-card-hover align-left">
                    <a class="card-categories-li-content" href="/products/do-be-gai" title="Quần áo bé gái">
                        <div class="card-categories-image-container">
                            <img class="image zoomhover lazy" data-original="https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/quan-ao-be-gai-dep-c1.jpg" src="/public/main/quan-ao-be-gai-dep-c1.jpg" alt="Quần áo bé gái" width="80" height="80" style="display: inline;">
                        </div>
                        <div class="card-categories-name">
                            <span class="text">Quần áo bé gái</span>{{!-- Xem tất cả --}}
                        </div>
                    </a>
                </div>
                <div class="card-categories-li hp-mod-card-hover align-left">
                    <a class="card-categories-li-content" href="/products/do-be-gai/0" title="Đồ bơi bé gái">
                        <div class="card-categories-image-container">
                            <img class="image zoomhover lazy" data-original="https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/bo-be-gai-dep-c2.jpg" src="/public/main/bo-be-gai-dep-c2.jpg" alt="Đồ bơi bé gái" width="80" height="80" style="display: inline;">
                        </div>
                        <div class="card-categories-name">
                            <span class="text">Đồ bộ bé gái</span>
                        </div>
                    </a>
                </div>

                <div class="card-categories-li hp-mod-card-hover align-left">
                    <a class="card-categories-li-content" href="/products/do-be-gai/1" title="Áo bé gái">
                        <div class="card-categories-image-container">
                            <img class="image zoomhover lazy" data-original="https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/dam-be-gai-dep-c3.jpg" src="/public/main/dam-be-gai-dep-c3.jpg" alt="Áo bé gái" width="80" height="80" style="display: inline;">
                        </div>
                        <div class="card-categories-name">
                            <span class="text">Vấy đầm bé gái</span>
                        </div>
                    </a>
                </div>

                <div class="card-categories-li hp-mod-card-hover align-left">
                    <a class="card-categories-li-content" href="/products/do-be-gai/2" title="Quần bé gái">
                        <div class="card-categories-image-container">
                            <img class="image zoomhover lazy" data-original="" src="/public/main/giay-be-gai-dep-c4.jpg" alt="Quần bé gái" width="80" height="80" style="display: inline;">
                        </div>
                        <div class="card-categories-name">
                            <span class="text">Đồ bơi bé gái</span>
                        </div>
                    </a>
                </div>

                <div class="card-categories-li hp-mod-card-hover align-left">
                    <a class="card-categories-li-content" href="/products/do-be-trai" title="Quần áo bé trai">
                        <div class="card-categories-image-container">
                            <img class="image zoomhover lazy" data-original="#" src="/public/main/quan-ao-be-trai-dep-c5.jpg" alt="Quần áo bé trai" width="80" height="80" style="display: inline;">
                        </div>
                        <div class="card-categories-name">
                            <span class="text">Quần áo bé trai</span>{{!-- Xem tất cả --}}
                        </div>
                    </a>
                </div>

                <div class="card-categories-li hp-mod-card-hover align-left">
                    <a class="card-categories-li-content" href="/products/do-be-trai/5" title="Đồ bộ bé trai">
                        <div class="card-categories-image-container">
                            <img class="image zoomhover lazy" data-original="#" src="/public/main/bo-be-trai-dep-c6.jpg" alt="Đồ bộ bé trai" width="80" height="80" style="display: inline;">
                        </div>
                        <div class="card-categories-name">
                            <span class="text">Đồ bộ bé trai</span>
                        </div>
                    </a>
                </div>

                <div class="card-categories-li hp-mod-card-hover align-left">
                    <a class="card-categories-li-content" href="/products/do-be-trai/6" title="Đồ bơi bé trai">
                        <div class="card-categories-image-container">
                            <img class="image zoomhover lazy" data-original="#" src="/public/main/giay-be-trai-dep-c7.jpg" alt="Đồ bơi bé trai" width="80" height="80" style="display: inline;">
                        </div>
                        <div class="card-categories-name">
                            <span class="text">Đồ bơi bé trai</span>
                        </div>
                    </a>
                </div>

                <div class="card-categories-li hp-mod-card-hover align-left">
                    <a class="card-categories-li-content" href="/products/do-be-trai/7" title="Áo bé trai">
                        <div class="card-categories-image-container">
                            <img class="image zoomhover lazy" data-original="#" src="/public/main/phu-kien-dep-c8.jpg" alt="Áo bé trai" width="80" height="80" style="display: inline;">
                        </div>
                        <div class="card-categories-name">
                            <span class="text">Áo bé trai</span>
                        </div>
                    </a>
                </div>
            </div>
                        
            <div style="margin: 40px 0 0 0">
                <div class="title_home">
                        <span class="frontpage-title-home"><a href="http://www.bexinhshop.vn/thoi-trang-tre-em.html" style="color: #000">thời trang trẻ em mới về</a></span>
                        </div>
                            
                {{#each this.sanpham}}
                <div class="item " style="height:auto;">
                
                    <div class="image"><a href="/products/detail/{{MaSP}}" title="{{TenSP}}">
                                    <img data-original="#" src="/public/images/{{Anh}}" alt="{{TenSP}}" title="{{TenSP}}" class="lazy zoomhover">
                                    </a>
                    </div>
                        <div class="pindesc"></div>
                    <div class="product_name"><a href="/products/detail/{{MaSP}}" title="{{TenSP}}">
                            <h3 style="line-height:20px;margin: 0px;color:#444">{{TenSP}}</h3></a></div>
                    
                            <div class="pull-left">
                        <div class="price">
                        {{format_number Gia}} đ
                        </div>
                    </div> 
                        <div style="clear:both"></div>    
                </div>
                {{/each}}
            </div> 
                <a class="view_more_btn" href="/page">Xem thêm <i class="icon-separator" style="float: right;font-size: 16px;"></i></a>
        </div>
        <nav id="page-nav">
            <a href="/page"></a>
        </nav> 
    </div>
</div>
<div id="content"></div>

<script type="text/javascript">

<!--
$(document).ready(function(){
    if($(document).width() < 470){
        $(".home_row_mobile").show();
        var swiper = new Swiper('.swiper-container', {
            lazy: true,
              pagination: {
                el: '.swiper-pagination',

              },
              autoplay: {
                delay: 5000,
                disableOnInteraction: false,
              },
            });
        }
        
 });
</script>
 
{{!-- sS --}}
<script type="text/javascript">
$(document).ready(function() {
			
		$().UItoTop({ easingType: 'easeOutQuart'});
			
        function setCookie(name, value, lifetime_days) {
            var exp = new Date();
            exp.setDate(new Date().getDate() + lifetime_days);
            document.cookie = name + '=' + value + ';expires=' + exp.toUTCString() + ';path=/';
        }
        
        function getCookie(name) {
            if(document.cookie) {
                var regex = new RegExp(escape(name) + '=([^;]*)', 'gm'),
                matches = regex.exec(document.cookie);
                if(matches) {
                    return matches[1];
                }
            }
        }
		
    });

	$.ajax({
		url: 'https://www.bexinhshop.vn/index.php?route=module/cart',
		type: 'get',
		success: function(data) {
			$("#header").html(data);
		}
	});
	
	$.ajax({
		url: 'https://www.bexinhshop.vn/index.php?route=common/header/getCustomer',
		type: 'get',
		success: function(data) {
			$("#welcome").html(data);
				
		}
	});

			$.ajax({
			url: 'https://www.bexinhshop.vn/index.php?route=module/viewed/getViewed',
			type: 'get',
			success: function(data) {
				if(data != ''){
					$('#box_viewed_product').html(data);
				}
				
			}
		});
	
	    $('.zoomhover').hover(function() {
	        $(this).addClass('transition');
	    }, function() {
	        $(this).removeClass('transition');
	    });

	    $('#breadcrumbs').xBreadcrumbs();
</script>

<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1031; top: 0px; left: 0px; display: none;"></ul>
<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none;"></ul>
<a class="bigfooticon colorback" href="#" id="toTop" style="display: none;"><span id="toTopHover"></span><i class="icon-chevron-up icon-large"></i></a>

