<div id="container">

<div id="content" class="container"><div class="doublepad">  <div class="pagetitle marbot">Địa Chỉ</div>
  <form class="window" action="" method="post" onsubmit="return kiemTraForm()">
    <h2>Thay đổi địa chỉ</h2>
    <div class="content ">
      <table class="form">
        {{#edit}}
        <tbody><tr>
          <td><span class="required">*</span> Địa chỉ:</td>
          <td>
              <input type="text" id="txtdiachi" name="diachi" value="{{diachi}}" placeholder="VD: 180 Cao Lỗ" 
                required pattern="^[^!@#$&()~%{}.,*+?^$|'<>/=+_[\]\\`-]{6,30}$"title="Địa chỉ không hợp lệ!">
            </td>
        </tr>
        <tr>
          <td><span class="required">*</span> Phường / Xã:</td>
          <td>
              <input type="text" id="txtphuong_xa" name="phuong_xa" value="{{phuong_xa}}" placeholder="VD: phường 4" 
                required pattern="^[^!@#$&()~%{}.,*+?^$|'<>/=+_[\]\\`-]{6,30}$"title="Địa chỉ không hợp lệ!">
            </td>
        </tr>
       
        <tr>
          <td><span class="required">*</span> Quận / Huyện:</td>
          <td>
              <input type="text" id="txtquan_huyen" name="quan_huyen" value="{{quan_huyen}}" placeholder="VD: quận 8" 
                required pattern="^[^!@#$&()~%{}.,*+?^$|'<>/=+_[\]\\`-]{6,30}$"title="Địa chỉ không hợp lệ!">
            </td>
        </tr>
        
       <tr>
          <td><span class="required">*</span> Tỉnh / TP:</td>
          <td>
                <select name="tinh" id="txtTinh" required>
                    <option value="{{tinh}}">{{tinh}}</option>
                    <option value="An Giang">An Giang</option>
                    <option value="Bà Rịa-Vũng Tàu">Bà Rịa-Vũng Tàu</option>
                    <option value="Bắc Giang">Bắc Giang</option>
                    <option value="Bắc Kan">Bắc Kan</option>
                    <option value="Bạc Liêu">Bạc Liêu</option>
                    <option value="Bắc Ninh">Bắc Ninh</option>
                    <option value="Bến Tre">Bến Tre</option>
                    <option value="Bình Dương">Bình Dương</option>
                    <option value="Bình Phước">Bình Phước</option>
                    <option value="Bình Thuận">Bình Thuận</option>
                    <option value="Bình Định">Bình Định</option>
                    <option value="Cà Mau">Cà Mau</option>
                    <option value="Cần Thơ">Cần Thơ</option>
                    <option value="Cao Bằng">Cao Bằng</option>
                    <option value="Dak Lak">Dak Lak</option>
                    <option value="Dak Nông">Dak Nông</option>
                    <option value="Gia Lai">Gia Lai</option>
                    <option value="Hà Giang">Hà Giang</option>
                    <option value="Hà Nam">Hà Nam</option>
                    <option value="Hà Nội">Hà Nội</option>
                    <option value="Hà Tây">Hà Tây</option>
                    <option value="Hà Tĩnh">Hà Tĩnh</option>
                    <option value="Hải Dương">Hải Dương</option>
                    <option value="Hải Phòng">Hải Phòng</option>
                    <option value="Hậu Giang">Hậu Giang</option>
                    <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                    <option value="Hòa Bình">Hòa Bình</option>
                    <option value="Huế">Huế</option>
                    <option value="Hưng Yên">Hưng Yên</option>
                    <option value="Khánh Hòa">Khánh Hòa</option>
                    <option value="Kiên Giang">Kiên Giang</option>
                    <option value="Kontum">Kontum</option>
                    <option value="Lai Châu">Lai Châu</option>
                    <option value="Lâm Đồng">Lâm Đồng</option>
                    <option value="Lạng Sơn">Lạng Sơn</option>
                    <option value="Lào Cai">Lào Cai</option>
                    <option value="Long An">Long An</option>
                    <option value="Nam Định">Nam Định</option>
                    <option value="Nghệ An">Nghệ An</option>
                    <option value="Ninh Bình">Ninh Bình</option>
                    <option value="Ninh Thuận">Ninh Thuận</option>
                    <option value="Phú Thọ">Phú Thọ</option>
                    <option value="Phú yên">Phú yên</option>
                    <option value="Quảng Bình">Quảng Bình</option>
                    <option value="Quãng Nam">Quãng Nam</option>
                    <option value="Quãng Ngãi">Quãng Ngãi</option>
                    <option value="Quãng Ninh">Quãng Ninh</option>
                    <option value="Quãng Trị">Quãng Trị</option>
                    <option value="Sóc Trăng">Sóc Trăng</option>
                    <option value="Sơn La">Sơn La</option>
                    <option value="Tây Ninh">Tây Ninh</option>
                    <option value="Thái Bình">Thái Bình</option>
                    <option value="Thái Nguyên">Thái Nguyên</option>
                    <option value="Thanh Hóa">Thanh Hóa</option>
                    <option value="Tiền Giang">Tiền Giang</option>
                    <option value="Trà Vinh">Trà Vinh</option>
                    <option value="Tuyên Quang">Tuyên Quang</option>
                    <option value="Vĩnh Long">Vĩnh Long</option>
                    <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                    <option value="Yên Bái">Yên Bái</option>
                    <option value="Đà Nẵng">Đà Nẵng</option>
                    <option value="Điện Biên">Điện Biên</option>
                    <option value="Đồng Nai">Đồng Nai</option>
                    <option value="Đồng Tháp">Đồng Tháp</option>
                </select>
            </td>
        </tr>
       
      </tbody>
      {{/edit}}
      </table>
    </div>
    
      <div class="alleft butmodify"><a href="/account/profile" class="button_normal colorback">Quay lại</a></div>
      <div class="alright">
        <input type="submit" value="Cập nhật" class="button_normal colorback">
      </div>
    
  </form>
  </div></div>
</div>
<script type="text/javascript">
        function kiemTraForm() {
            var diachi = document.getElementById("txtdiachi").value
            var phuongxa = document.getElementById("txtphuong_xa").value
            var quanhuyen = document.getElementById("txtquan_huyen").value
            var tinh = document.getElementById("txtTinh").value
            if(diachi==""){
                alert('Chưa nhập địa chỉ, mời bạn nhập lại!')
                return false
            }
            if(phuongxa==""){
                alert('Chưa nhập địa chỉ, mời bạn nhập lại!')
                return false
            }
            if(quanhuyen==""){
                alert('Chưa nhập địa chỉ, mời bạn nhập lại!')
                return false
            }
            if(tinh==""){
                alert('Chưa chọn tỉnh, mời bạn chọn lại!')
                return false
            }
            alert('Cập nhật thành công!')
            return true
        }
</script>
