 <!-- start  -->
<div class="row">
    <div class="col-12">
        <div>
            <h4 class="header-title mb-3">Danh sách hóa đơn</h4>
        </div>
    </div>
</div>
<!-- end row -->
{{#if this.empty}}
<div class="row">
    <div class="col-12">   
        <div class="mt-5">
            {{!-- <h5 class="font-14">Chưa kết nối database</h5> --}}
            <p class="sub-header">
                Chưa có đơn mới
            </p>
        {{else}}
            <table {{!-- id="key-table"  --}}class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                    <tr>
                        <th>Ngày hd</th>
                        <th>Tên người nhận</th>
                        <th>Sđt</th>
                        <th>Địa chỉ</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                        <th>Ghi chú</th>
                        <th>Trạng thái</th>
                        <th>Xem thêm</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        {{#each this.hoadon}}
                    <tr>
                        <td>{{ngayhd}}</td>
                        <td>{{tennn}}</td>
                        <td>{{sdt}}</td>
                        <td>{{diachi}}</td>
                        <td>{{soluong}}</td>
                        <td>{{format_number tongtien}}đ</td>
                        <td>{{ghichu}}</td>
                        <td class="text-right">
                            <a name="" id="" class="btn btn-primary btn-sm" href="/admin/hoadon/choxacnhan/{{mahd}}" role="button" title="Xác nhận">
                                {{trangthai}}
                            </a>
                            <a name="" id="" class="btn btn-danger btn-sm" href="/admin/hoadon/dahuy/{{mahd}}" role="button" title="Hủy đơn" onclick="return confirm('Bạn có chắc chắn muốn hủy không?');">
                                Hủy đơn
                            </a>
                        </td>
                        <td>
                            <a href="/admin/hoadonct/{{mahd}}" title="xem chi tiết hóa đơn">
                            {{mahd}}
                            </a>
                            
                        </td>
                        <td>
                            <a href="/admin/hoadon/edit/{{mahd}}" title="Sửa đơn hàng">
                            Sửa
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
        </div>
        <!-- end -->
    </div>
</div>
<!-- end row -->