
 <!-- start  -->
<div class="row">
    <div class="col-12">
        <div>
            <h4 class="header-title mb-3">Sửa hóa đơn</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 ">
        <div class="card">
            <div class="card-body">
                <div class="text-center mb-4 mt-3">
                    <a href="index.html">
                        <span><img src="assets\images\logo-dark.png" alt="" height="30"></span>
                    </a>
                </div>
                 
                 <form method="POST" name="myform" onsubmit="return validateform()">
                 {{#hoadon}}
                        <div class="form-group">
                            <label for="mahd" class="col-md-3 control-label">Mã hóa đơn</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="mahd" 
                                placeholder="" value="{{mahd}}" readonly>
                            </div>
                        </div>
                      

                         <div class="form-group">
                            <label for="giakm" class="col-md-3 control-label">Tên người nhận</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="tennn" 
                                placeholder="" value="{{tennn}}"
                                required pattern="^[^!@#$&()~%{}.,*+?^$|'<>/=+_[\]\\`-]{6,30}$"title="Tên đăng ký không hợp lệ!">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="giakm" class="col-md-3 control-label">Số điện thoại</label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" name="sdt" 
                                placeholder="số điện thoại 10 số" value="{{sdt}}"
                                required  pattern="^[0-9]{10}$"title="Số điện thoại không hợp lệ!">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="giakm" class="col-md-3 control-label">Địa chỉ</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="diachi" 
                                placeholder="" value="{{diachi}}"
                                required pattern="^[^!@#$&()~%{}.,*+?^$|'<>=+_[\]\\`-]{6,30}$"title="Địa chỉ không hợp lệ!">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="giakm" class="col-md-3 control-label">Ghi chú</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="ghichu" 
                                placeholder="" value="{{ghichu}}">
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary" title="Cập nhật" formaction="/admin/hoadon/update">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Cập nhật
                    </button>
                    {{/hoadon}}
                </form>
                       
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
<script language="javascript">
    function validateform() {
        var tennn = document.myform.tennn.value;
        var sdt = document.myform.sdt.value;
        var diachi = document.myform.diachi.value;
        if(tennn==""){
            alert('Chưa nhập tên, mời bạn nhập lại!')
            return false
        }
        if(sdt==""){
            alert('Chưa nhập SDT, mời bạn nhập lại!')
            return false
        }
        if(diachi==""){
            alert('Chưa nhập địa chỉ, mời bạn nhập lại!')
            return false
        }
        //alert('Cập nhật thành công!')
        return true
    }
</script>
