 <!-- start  -->
<div class="row">
    <div class="col-12">
        <div>
            <h4 class="header-title mb-3">Danh sách chi tiết hóa đơn</h4>
        </div>
    </div>
</div>
<!-- end row -->
{{#if this.empty}}
<div class="row">
    <div class="col-12">   
        <div class="mt-5">
            <h5 class="font-14">Chưa kết nối database</h5>
            <p class="sub-header">
                Chưa có dữ liệu
            </p>
        {{else}}
            <table {{!-- id="key-table"  --}}class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                    <tr>
                        <th>Mã hd</th>
                        <th>Mã sp</th>
                        <th>Tên sp</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                    </tr>
                </thead>
                <tbody>
                        {{#each this.hoadonct}}
                    <tr>
                        <td>{{mahd}}</td>
                        <td>{{masp}}</td>
                        <td>{{tensp}}</td>
                        <td>{{format_number dongia}}đ</td>
                        <td>{{quantity}}</td>
                        <td>{{format_number gia}}đ</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
        </div>
        <!-- end -->
    </div>
</div>
<!-- end row -->