 <!-- start  -->
<div class="row">
    <div class="col-12">
        <div>
            <h4 class="header-title mb-3">Sản phẩm</h4>
        </div>
        <div class="them" style="text-align: right;">
            <a name="" id="" class="btn btn-primary btn-sm" style="text-align: right;" href="/admin/attribute/add" role="button" title="Thêm thuộc tính">Thêm thuộc tính
               {{!--  <i class="fa fa-trash" aria-hidden="true"></i> --}}
            </a>
        </div>
    </div>
</div>
<!-- end row -->
{{#if this.empty}}
<div class="row">
    <div class="col-12">   
        <div class="mt-5">
            <h5 class="font-14">Chưa thêm sản phẩm nào</h5>
            <p class="sub-header">
                Không có sản phẩm nào
            </p>
            {{else}}
            <table id="key-table" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">                          
            {{!-- <table id="datatable-buttons" class="table table-hover" style="border-collapse: collapse; border-spacing: 0; width: 100%;"> --}}
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>ảnh</th>
                        <th>giá</th>
                        <th>Mô tả</th>
                        <th>Chất liệu</th>
                        <th>Ngày nhập</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                        {{#each this.sanpham}}
                    <tr>
                        <td>{{MaSP}}</td>
                        <td>{{TenSP}}</td>
                        <td>
                            <a href="#" class="image">
                                <img class="pic-1" src="/public/images/{{Anh}}" alt="{{TenSP}}" title="{{TenSP}}" :{{Gia}} 
                                style=" max-width: 75px; height: auto;">
                            </a>
                        </td>
                        <td>{{Gia}}</td>
                        <td>{{MoTa}}</td>
                        <td>{{chatlieu}}</td>
                        <td>{{NgayNhap}}</td>
                        <td class="text-right">
                            <a name="" id="" class="btn btn-primary btn-sm" href="/admin/products/edit/{{MaSP}}" role="button" title="sửa sản phẩm">
                                <i class="mdi mdi-border-color" aria-hidden="true"></i>
                            </a>
                            <a name="" id="" class="btn btn-danger btn-sm" href="/admin/products/remove/{{MaSP}}" role="button" title="xóa sản phẩm" onclick="return confirm('Bạn có chắc chắn muốn xóa không?');">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
        </div>
        <!-- end -->
    </div>
</div>
<!-- end row -->