<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopPN  </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href='../node_models/bootstrap/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- CDN BOOTSTRAP 4 --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{!-- CDN GOOGLE FONTS --}}
    <link href="https://fonts.googleapis.com/css?family=Caveat|Kalam|Lato&display=swap" rel="stylesheet">
    {{!-- CDN FONTAWESOME --}}
    <script src="https://kit.fontawesome.com/d414397a60.js" crossorigin="anonymous"></script>
 {{!-- {{{_sections.css}}} --}}
</head>

<body>
    {{> header}}
    {{> header-top}}
    {{>nav}}

    <div class="container-fluid mt-4">
        <div class="row">
           {{!--  <div class="col-sm-2">
                <div class="card">
                    <div class="card-header">
                        Loại đồ
                    </div>
                    <div class="list-group list-group-flush">
                        {{#each lcCategories}}
                        <a href="/products/byCat/{{MaLoai}}"
                            class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}">
                            {{TenLoai}}
                            {{#if num_of_products}}
                            <span class="badge badge-danger float-right">{{num_of_products}}</span>
                            {{/if}}
                        </a>
                        {{/each}}
                    </div>
                </div>
            </div> --}}
            {{!-- <div class="col-sm-10">
              
            </div> --}}
              {{{body}}}
        </div>
    </div>
    {{> footer}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    {{{_sections.js}}}
</body>

</html>