<!DOCTYPE html>
<html dir="ltr" lang="vi" class=" js csstransitions">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<link rel="alternate" href="https://www.bexinhshop.vn/ao-khoat-da-ca-love-is-red-de-thuong-cho-be-tu-2-9-tuoi-ktb196500.html" hreflang="vi">
<title>{{#each this.sanpham}}{{TenSP}}{{/each}} | Quần áo bé trai</title>
<meta property="og:title" content="{{#each this.sanpham}}{{TenSP}}{{/each}}">
<meta property="og:description" content="Quần áo bé gái - {{#each this.sanpham}}{{TenSP}}{{/each}} (133,000.00 vnd) | Bé Xinh Shop - quần áo trẻ emQuần áo bé trai - {{#each this.sanpham}}{{TenSP}}{{/each}} (133,000.00 vnd) | Bé Xinh Shop - qu">

<meta name="description" content="Quần áo bé gái - {{#each this.sanpham}}{{TenSP}}{{/each}} (133,000.00 vnd) | Bé Xinh Shop - quần áo trẻ emQuần áo bé trai - {{#each this.sanpham}}{{TenSP}}{{/each}} (133,000.00 vnd) | Bé Xinh Shop - qu">
<meta name="keywords" content=" Áo khoát cá love red dễ thương cho bé từ tuổi ktb196500 quần áo bé gái Áo khoát cá love red dễ thương cho bé từ tuổi ktb196500 quần áo bé trai Áo khoát cá love red dễ thương cho bé từ tuổi ktb196500 Áo bé gái">
{{!--  --}}<link rel="stylesheet" type="text/css" href="/public/detail/global_bx.css">
{{!--  --}}<link rel="stylesheet" type="text/css" href="/public/detail/font-awesome.css">
{{!--  --}}<script src="/public/detail/sdk.js.download" async="" crossorigin="anonymous"></script>

   
<style>

  .wisl_deatails{
    font-weight: bold;
    border: none !important;
    background: url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/love.png) no-repeat !important;
    background-position: 5px 3px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    font-weight: normal !important;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 11px !important;
    color: gray;
  }

  input[type="button"].addtocart {
  background: url("https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/cart.png")  no-repeat;
  border: 1px #c70410 solid;
  border-radius: 6px;
  padding: 13px 10px 10px 35px;
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  background-color: #e5101d;
  position: relative;
  background-size: 30px 30px;
  background-position: 2px 5px;
  margin-top:5px
  } 
  .addtocart:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

  a.Chk{
  display: inline;
  padding: 5px 25px 1px 18px !important;
  color: #333 !important;
  background: url("https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/check_ico.1.0.png") 0 5px no-repeat;
  font-weight: normal
}

a.activeChk{
  display: inline;
  padding: 5px 25px 1px 18px !important;
  color: #333 !important;
  background: url("https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/check_ico.1.0.png") 0 -18px no-repeat;
  font-size: 14px;
  font-weight: bold
}

.icon-success{
	background: url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/icon-success.png) 0px 0px no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
        vertical-align: middle;
        margin-right: 10px
}

@media (max-width: 710px) {
  .call_now{
    background: url('https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/phone.jpg') no-repeat; 
    background-size: 15%;
    background-position: 5px 5px;
  }
}  

@media (max-width: 470px){
  input[type="button"].m_pdetails_addtocart{
    width: 62%;
    float: right;
    border-radius: 0px;
    background-image: none;
  }
  .imenu {
    background: url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/menu.png) 1px 1px no-repeat;
    padding-left: 20px;
  }
  .wisl_deatails{
     float: right;
    background-position: 5px 8px !important;
    
  }
  .m_icon_back{
    background: url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/icon_back_white.png) 0px 0px no-repeat;
      background-size: 12px;
      width: 18px;
      height: 25px;
      display: block;
      float: left;
  }
  .p_details_chosse_att a{
    
    display: block;
    padding: 15px;
    margin: 10px 0 15px 0px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    color: lightslategray;
    background: white url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/icon_pointer.png) 17px 7px no-repeat;
      background-size: 40px;
      font-size: 13px;
  }

  .p_details_chosse_att_next{
    background: url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/icon_next_gray.png) 0px 0px no-repeat;
      background-size: 20px;
      
      width: 20px;
      height: 20px;
      float: right;
  }
}
</style>

<body>
<div class="afterheader"></div>	
<div id="notification"></div>
<div id="container">

<style>
.image-additional img{margin-bottom:5px; border: 1px solid #ddd}
.image-additional img:hover{border: 1px solid #F5447B !important; box-shadow:  0 0 1px 1px #F5447B !important;  }
input.form-search{
    height: 35px !important;
    width: 105% !important;
}
@media (max-width: 470px){
.pdetail_navbar-cat{
    display: none;
  }
  #welcome{
    display: none;
  }
  .responsive-search{
      display: none !important;
  }
  #m_navi_bar{
    display: block !important;
    width: 75%;
    overflow-x: hidden;
    float: left;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
   padding-top: 17px;
    height: 56px;
    padding-left: 10px;
  }
  .bigfooticon{
    display: none !important;
  }
  .m_pdetails_logo{
      display: none;
    }
    .m_pdetail_navbar-cat{
      display: none;
    }
}
input.form-search {
    height: 25px !important;
    width: 100% !important;
}
</style>

<div id="content" class="container m_pdetials_container">
  <div class="doublepad m_doublepad">

    <div class="pagetitle marbot p_detail">			
        
        <meta itemprop="name" content="{{#each this.sanpham}}{{TenSP}}{{/each}}">
        </span></span>
            
      {{#each this.sanpham}}
      <h1><a href="{{MaSP}}" title="{{TenSP}}">{{TenSP}}</a></h1>
      {{/each}}
    </div>
    <div id="product-info" class="row-fluid">
      <div class="span7 window image_tab ">     
        <div class="m_pdetail_img swiper-container">
          <div class="swiper-wrapper">
            {{#each this.detail_anh}}
                  <div class="swiper-slide">
              <div style="background:url(/public/images/detail/{{anh_ten}}) no-repeat 0 0; background-size: 100%; display: block;width: 100%; height: 100% ">
                <img class="swiper-lazy galerry_thumb" data-src="/public/images/detail/{{anh_ten}}">
                </div>
                <!--<div class="swiper-lazy-preloader"></div>-->
            </div>
            {{/each}}
        </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
      </div>
      <div class="primageview nomar">
        {{#each this.sanpham}}
        <div class="image p_detail_nondisplay p_img_main">
          <img src="/public/images/{{Anh}}" title="{{TenSP}}" alt="{{TenSP}}" id="image" width="500px" style="float: right; display: block;">
        </div>
        {{/each}}
        <div class="image-additional p_detail_nondisplay" >
          {{#each this.detail_anh}}
            <a href="javascript:void(0);" class="thumb_pdetails" title="{{TenSP}}" rel="/public/images/detail/{{anh_ten}}"><img src="/public/images/detail/{{anh_ten}}" title="{{TenSP}}" alt="{{TenSP}}" style="width: 16%; margin-right: 2.5%;"></a>
          {{/each}}
        </div>
        {{#each this.sanpham}}
        <div class="m_pdetail_title">{{TenSP}}</div>
        <div class="table_att p_detail_nondisplay">
          <table class="table attribute" style="margin-bottom:0">
            <thead>
            <tr>
              <td colspan="2"></td>
            </tr>
            </thead>
            <tbody>
              <tr style="display:table-row;">
                <td style="width:70px" class="p_details_attribute_group"> Thiết kế</td>
                <td>{{MoTa}}</td>
              </tr>
              <tr class="header" style="display: none;">
                <td style="width:70px"></td>
                <td>+Xem thêm ...</td>
              </tr>	          
              <tr style="display: table-row;">
                <td style="width:70px" class="p_details_attribute_group"> Chất liệu</td>
                <td>{{chatlieu}}</td>
              </tr>      
                <tr style="display: table-row;">
                <td style="width:70px" class="p_details_attribute_group"> Xuất xứ</td>
                <td>Việt Nam </td>
              </tr>       
            </tbody>
          </table>
        </div>
        {{/each}}

        <style>
        div.table_att tr {
          display: none;
        }
        div.table_att tr.header {
          display: table-row;
        }
        </style>

        <script>
        $('tr.header').click(function(){
          $(this).nextUntil('tr.header').css('display', function(i,v){
            return this.style.display === 'table-row' ? 'none' : 'table-row';
          });
          $(this).css('display','none')
        });
        </script>
          
        <div class="p_details_chosse_att">
          <a class="p_details_chosse_att_content"><strong>Chọn:</strong> <span id="txt_chosse_att_content">màu sắc, kích thước</span>
            <i class="p_details_chosse_att_next"></i>
          </a>
        </div>
        <div class="p_details_description">  
          <strong>Chi tiết sản phẩm</strong>
          <div class="p_details_attribute">
            <table class="attribute ">
              <tbody>
                  <tr>
                      <td>{{#each this.sanpham}}{{MoTa}}{{/each}}</td>
                  </tr>
                  <tr style="display:none;">
                      <td>Thun da cá </td>
                  </tr>
                  <tr style="display:none;">
                      <td>Việt Nam </td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="see_more_desc">
              <div class="wrapp_tran"></div>
              <a class="btn_seemore" href="javascript:void(0);">Xem Thêm <i class="icon-sort-down" style="font-size: 11px; vertical-align: text-bottom;"></i></a>
          </div>
        </div>

        <div class="p_full_description ">
          <div class="blank_full_description">
            <div class="navi_full_description"><i class="icon-back-navi" style="margin-right: 10px"></i>Chi tiết sản phẩm</div>
          </div>
          <div class="content_full_description">
              <p>
              <strong>Thiết kế</strong> : {{#each this.sanpham}}{{MoTa}}{{/each}}<br><br><strong>Chất liệu</strong> : Thun da cá<br><br><strong>Xuất xứ</strong> : Việt Nam<br><br></p> 
                {{#each this.detail_anh}}
                <img class="lazy_description" data-original="/public/images/detail/{{anh_ten}}" src="/public/detail/blank.gif">
                <br><br>
                {{/each}}
              <br> <br><br> <br>
          </div>
        </div>

        <script type="text/javascript">
            $(".btn_seemore").click(function(){
                $('.p_full_description').animate({left: '0px'}, 500);
                $('.blank_full_description').animate({left: '0px'}, 500);
                $("img.lazy_description").lazyload({
                  threshold: 850
              });
            });
            $(".icon-back-navi").click(function(){
              $('.p_full_description').animate({left: '500px'}, 500);
              $('.blank_full_description').animate({left: '500px'}, 500);
            });
        </script>
      
      </div>
      </div>
      <div class="span5 window20 m_pdetails_window20">
       {{#if giamgia}}
        <div class="prodprice m_pdetails_prodprice">
            <div class="price-new">{{#each this.giamgia}}{{format_number giakm}}{{/each}} đ</div>
            <div class="price-old colorfront">{{#each this.sanpham}}{{format_number Gia}}{{/each}} đ</div> 
            <br>
        </div>
       {{else}}
        <div class="prodprice m_pdetails_prodprice">
            <div class="price-new">{{#each this.sanpham}}{{format_number Gia}}{{/each}} đ</div>
            <br>
        </div>
        {{/if}}
        <div class="clearfix"></div>	 
        <div class="description m_pdetails_description">
              <div class="prodinfo" style="margin-bottom:0px; ">
                  <div id="soluongs">
                    <span>Kho:</span>{{!-- {{tongkho}} --}}<br/>
                  </div>
                <div class="p_detail_attri">	
                  <div class="p_detail_attri_menu">
                    <a href="javascript:void(0)" class="p_detail_attri_menu_icon"><i class="icon-close"></i></a>
                  </div>
                  <div class="p_detail_attri_size">
                    <b style="font-size:12px;color: #000">CHỌN KÍCH CỠ{{!-- {{session.cart.totalItems}} --}}</b>
                  </div>
                </div>
              </div>
            {{!-- <form class="form-horizontal" role="form" method="post" id="form-login"action="/cart"> --}}
              <div class="options box_att" id="box_att_product_details">
                <div class="box_att_wreapper" style="display: none;">
                    <div id="option-240299" class="option">
                      {{#page_items}}
                        <b>{{#code}}{{this.color}}:{{/code}}</b>
                        <select name="option[#]" rel="{{#code}}{{this.color}}{{/code}}">
                            <option value=""></option>
                            {{#items}}
                            <option rel="{{this.size_id}}" id="{{sp_id}}" value="{{this.size_id}}">{{soluong}}</option>
                            {{/items}}
                        </select>
                      {{/page_items}}
                    </div>
                </div> 
                    {{!-- <div class="">
                        <input type="text" class="form-control" name="MaSP" id="MaSP" value="{{#each this.sanpham}}{{MaSP}}{{/each}}">
                    </div>
                    <div class="chonmau">
                    </div>
                    <div class="chonsize">
                    </div> --}}
                <div class="att_product_chose">
                  <div class="attr_color">
                      <div class="title_attr" id="{{#each this.sanpham}}{{MaSP}}{{/each}}">Màu sắc</div>
                      <div class="optio_attr">
                          {{#page_items}}
                          <label class="item_attr color " id="{{#code}}{{this.color_id}}{{/code}}" data="{{#items}}{{this.size_id}}@{{/items}}">{{#code}}{{this.color}}{{/code}}</label>
                          {{/page_items}}
                      </div>
                  </div>
                  <div class="attr_color"> 
                    <div class="title_attr">Kích Thước <a id="innlineSize" class="chooseSize" href="javascript:void(0)" style="text-decoration:underline;font-size:12px;color: #807d7d;font-weight: 400;">
                        ( Xem chi tiết kích cỡ ) <i class="icon-sort-down" style="font-size: 11px; vertical-align: text-bottom;text-decoration: unset;"></i></a>
                    </div>
                    <div class="optio_attr">
                        {{#each this.sizes}}
                        <label class="item_attr att_size " title="({{title}})" data="{{size_id}}">{{size}}</label>
                        {{/each}}
                    </div>
                  </div>
                  <div class="box_att_message">Vui lòng chọn <strong>Màu sắc, kích thước</strong>
                  </div>
                </div>
              </div>
              <div class="wty_cart">
                Số lượng:

                <div id="txtsoluong">
                  <input onclick="giamm()" type="button" value="-">
                  <input class="input-qty" required id="quantity" name="quantity" type="text" value="1" maxlength = "3" 
                    onkeyup="isNumberKey(event)" 
                    oninput="maxLengthCheck(this)" >
                  <input onclick="tangg()" type="button" value="+">
                </div>
              </div>
              
            
            <div class="prodcart m_pdetails_procart">
                <div class="m_pdetails_price_bar">
                  <div class="price-new">{{#each this.sanpham}}{{format_number Gia}}{{/each}} đ</div>
                </div>
                <input type="hidden" name="product_id" size="2" value="15645">
                &nbsp;
                <input type="button" value="MUA NGAY" id="button-cart" class="addtocart m_pdetails_addtocart" style="margin: 0px !important; ">
            </div>
            

    <br clear="all">
      <div class="note_checkout" style="font-size:13px">
      <!--<div style="font-weight: bold;">- <b style="color: red">TẶNG KHẨU TRANG 3 LỚP</b> đơn hàng từ <b>300.000đ</b> trên Toàn quốc. <a style="color: blue" href="#" target="_blank"> Xem Thêm >>> </a></div>
          <br clear="all"/> -->
        {{!-- <div>- <b style="color: green">MIỄN PHÍ VẬN CHUYỂN</b> đơn hàng từ <b>500.000đ</b> trên Toàn quốc. Riêng TPHCM, miễn phí đơn hàng từ <b>250.000đ</b>. </div> --}}
        <div style="color: green; font-weight: 500; margin-top: 6px; padding-left: 5px; "> BÉ XINH CAM KẾT:</div>
        <div>- KHÔNG bán hàng kém chất lượng. </div> 
        <div>- Sản phẩm y như hình.</div>
        <div>- Đổi trả dễ dàng nếu không vừa ý.</div>
        <div>- Sẽ có mặt tại nhà bạn từ 1-5 ngày làm việc. </div> 
      </div>
        <br clear="all">
         
          
      </div>
      </div>
    </div>
      
  </div>
</div>
  
  <a id="innlinemodal" class="inline" href="https://www.bexinhshop.vn/#cart_modal" style="display:none">Inline HTML</a>
	<div>
		<div class="modal_content_choose_size">
      <strong style="font-size: 22px">BẢNG SIZE</strong>
      <br><br>
        <img src="/public/detail/bang-size.jpg">
      <br><br>
      <strong style="color: #4099da">Đóng</strong>
		</div>
	</div>

  <div class="success_add_cart"></div>
  <!-- Modal HTML embedded directly into document -->
  <div class="notification_add_cart" id="notification_cart">
  	<div class="cart_success"><i class="icon-success"></i>Đã thêm vào Giỏ hàng
      {{!-- <i class="icon-remove" style="float: right; font-size: 30px; cursor: pointer;"></i> --}}
    </div>
    <div class="cart_success_content">
      
        <img src="/public/images/{{#each this.sanpham}}{{Anh}}{{/each}}" style="width: 70px; height: 70px;float: right; margin-right: 5px;">
        <div>
            <div>- {{#each this.sanpham}}{{TenSP}}{{/each}}</div>
            <div class="cart_success_content_size">{{!-- <strong>Màu đen:</strong> --}}</div> 
        </div>
    </div>
    <div class="cart_success_bot">
        {{!-- Hiện có <strong id="noti_total_cart_num" style="color: red">{{session.cart.totalItems}}</strong> trong giỏ hàng. <strong id="noti_total_cart_sum">Tổng giỏ hàng 121.000 đ.</strong> --}}
        <div style="margin: 15px 0 15px 0; height: auto; overflow: auto; float: left;width: 100%">
            <a title="xem giỏ hàng" class="i_view_cart" href="/shop_cart"><i class="icon-view-shopping-cart"></i> Xem giỏ hàng</a>
            <a title="Đặt hàng" class="i_go_cart" href="/checkout"><i class="icon-share-alt "></i>&nbsp;&nbsp;Đặt hàng</a>
        </div>
    </div>
    <div class="cart_recommend">
      <strong>Sản phẩm được mua cùng nhiều nhất</strong>
      <div class="cart_recommend_content"> 
      </div>
    </div>
  </div>

  <div class="gallery_image">
    <i class="icon-close galerry_close"></i>
    <div class="main_thumb"></div>
    <div class="list_thumb"></div>
    <div class="galerry_close" style="text-align: center;color: white;margin-top:20px;font-size: 14px">Đóng (x)</div>
  </div>
      <div class="box_shadow_image"></div>
  <div class="view_full_image">
    <img src="/public/detail/blank.gif" title="{{#each this.sanpham}}{{TenSP}}{{/each}}" alt="{{#each this.sanpham}}{{TenSP}}{{/each}}" class="view_full_image_main">
    <div class="view_full_image_thumb">
      {{#each this.detail_anh}}
        <a href="javascript:void(0);" class="thumb_pdetails_desk" title="{{TenSP}}" rel="/public/images/detail/{{anh_ten}}"><img src="/public/images/detail/{{anh_ten}}" title="{{TenSP}}" alt="{{TenSP}}" style="width: 100%; margin-right: 2.5%;"></a>
      {{/each}}
      <i class="icon-close-popup" onclick="hideViewImage();"></i>
      <span class="close_view_full_image" onclick="hideViewImage();">Đóng(x)  </span>
    </div>
  </div>


{{!-- XỬ LÝ INPUT SỐ LƯỢNG --}}
<script type="text/javascript">//<![CDATA[
  function isNumberKey(evt){// chỉ nhập số
    var sl= $('#option-240299 :selected').text();
   // var result = document.getElementById('quantity'); 
   // var qty = result.value; 
    if (document.getElementById('quantity').value.match(/^[1-9]+$/) == null){
      var str = document.getElementById('quantity').value
      document.getElementById('quantity').value = str.substring(0, str.length - 1);
      return false;
    }
    if (document.getElementById('quantity').value.match(/^[0-9]+$/) == null){
      var str = document.getElementById('quantity').value
      document.getElementById('quantity').value = str.substring(0, str.length - 1);
      return false;
    }
    if(parseInt(document.getElementById('quantity').value) >= sl){
      document.getElementById('quantity').value = sl;
    }
    return true;
  }
  function maxLengthCheck(object){
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }
  function giamm(){
    var result = document.getElementById('quantity'); 
    var qty = result.value; 
    if( !isNaN(qty) && qty > 1) 
      result.value--;
    return false;
  }
  function tangg(){
    var sl= $('#option-240299 :selected').text();
    var result = document.getElementById('quantity'); 
    var qty = result.value; 
    var max =Number(sl); 
    if( !isNaN(qty) && qty < max)
      result.value++;
    return false;
  }
//]]></script>

{{!-- XỬ LÝ HÌNH ẢNH --}}
<script type="text/javascript">
  function hideViewImage(){
    $(".view_full_image").hide();
    $(".box_shadow_image").hide();
  }
  $(document).ready(function(){
   $("#image").click(function(){
      $(".view_full_image_main").attr("src",$(this).attr("src"));
      $(".view_full_image").show();
      $(".box_shadow_image").show().click(function(){
          $(this).hide();
          $(".view_full_image").hide();
      });
   });
  /*galerry for mobile*/
    if($(document).width() < 470){
       var swiper = new Swiper('.swiper-container', {
            lazy: true,
              pagination: {
                el: '.swiper-pagination',
              },
          });
        $(".galerry_thumb").click(function(){
            $('.main_thumb').html('<img src="'+$(this).attr("src")+'" />');
            $('.list_thumb').empty();
            if($('.galerry_thumb').size() > 1){
              $('.galerry_thumb').each(function(){
                  if($(this).attr("src")){
                     img_src = $(this).attr("src");
                  }else{
                    img_src = $(this).attr("data-src");
                  }
                  if($(this).attr("data-src") == "video"){
                    $('.list_thumb').append('<img src="#" class="img_list_thumb_video"/>  ');
                  }else{
                  $('.list_thumb').append('<img src="'+img_src+'" class="img_list_thumb"/>  ');
                  }
              });
            }
            $('.m_pdetails_procart').css("z-index",0);
            $('.navbar').css("z-index",0);
            $('.gallery_image').animate({top: '0px'}, 500).css("z-index",999999);
            $(".galerry_close").click(function(){
                $('.gallery_image').animate({top: '-100%'}, 500).css("z-index",0);
                $('.m_pdetails_procart').css("z-index",99999);
                $('.navbar').css("z-index",99999);
            });
        });
    } /*end galerry for mobile*/
    else{
       $('#tabs a').tabs();
    }
    $(".thumb_pdetails").click(function(){
        $('.p_img_main').show();
        $("#image").hide().attr("src",$(this).attr("rel")).fadeIn();
    });
    $(".thumb_pdetails_desk").click(function(){
        $(".view_full_image_main").attr("src",$(this).attr("rel"));
    });
      $("#innlineSize").click(function(){
          $(".modal_content_choose_size").show().css("top","-80px").animate({top: '0px'}, 500).click(function(){ 
              $(this).hide();
            });
        });
      $("#p_detail_wish").click(function(){
          addToWishList('15645');
          $(this).html("Đã thêm yêu thích");
      });
      //laays gia tri color & size cua mobile
      $(".p_detail_attri_menu_icon").click(function(){
       
        $(".m_pdetails_description").removeClass("m_pdetails_description_open");
          //laasy gia tri selecteed
        var str_att = "";
        $( ".box_att select option:selected" ).each(function() {
          if($( this ).val() > 0){
            str_att += $( this ).parent().attr("rel");
            str_att += ": "+$( this ).text();
          }
        });
        if(str_att == "") 
        str_att = "màu sắc, kích thước";
        $("#txt_chosse_att_content").html(str_att);
      });
      $(".p_details_chosse_att").click(function(){
           $(".m_pdetails_description").addClass("m_pdetails_description_open");  
      });
    if($(document).width() < 470){
      $("select").change(function(){
        $("body").scrollTop( 0 );
      });
      $("#content").click(function () {
        if($('#cart').hasClass('active')){
            $('#cart').removeClass('active');
          }  
      }); 
    }
    $("#m_navi_bar").html("<i class='icon-back'></i>Mã: KTB196500 ");
    $(".icon-back").click(function(){
        parent.history.back();
        return false;
      });;
    $(".success_add_cart").click(function(){
        $(this).animate({bottom: '-100px'}, 500);
      });			
  });
</script> 

{{!-- XỬ LÝ KHI CLICK CHỌN MUA --}}
<script type="text/javascript">

  $('#button-cart').bind('click', function() {
    var ma_attr = $( ".title_attr" ).attr("id");
    var color = $( ".color.checked" ).text();
    var size = $( ".att_size.checked" ).text();
    var scolor = $( ".color.checked" ).attr("id");
    var ssize = $( ".att_size.checked" ).attr("data");
    console.log("color:"+scolor);//color_id
    console.log("size:"+ssize);//size_id
    console.log("/cart/"+ma_attr+"?size="+ssize+"&color="+scolor);
    var check  =	0;
    var total = 0;
    $(".box_att option:selected").each(function () {
        if($(this).val() != "")
		    check = 1;
	  });
    if(!check){
      if(!$(".m_pdetails_description").hasClass('m_pdetails_description_open') && $(document).width() < 470){
        $(".m_pdetails_description").addClass('m_pdetails_description_open');
        $('.p_full_description').animate({left: '500px'}, 500);
        $('.blank_full_description').animate({left: '500px'}, 500);
      }
      else{
        if($(document).width() < 470){
          $(".success_add_cart").html('Vui lòng chọn size <a href="javascript:void(0)">Đóng</a>').animate({bottom: '0px'}, 500).delay( 1400 ).animate({bottom: '-100px'}, 500);
        }else
          $(".box_att").css('background-color', '#fff1f1');
          $(".box_att_message").show();//vui long chon mau sac va kich thuoc
        }
      return;
    }else{
      $(".m_pdetails_description").removeClass("m_pdetails_description_open");
    }
    var sl = $("input[name='quantity']").val();
   console.log("slll:",sl);
    $("#button-cart").attr("disabled", true);
    // Lấy tất cả dữ liệu trong form login
    //var data = $('form#form-login').serialize();
    var username = $('#txt_username').val();
   $.ajax({
      url:"/cart/"+ma_attr+"?size="+ssize+"&color="+scolor+"&quantity="+sl, //'index.php?route=checkout/cart/add', gửi dữ liệu vao trang gio hang
      type: 'POST',
      //dataType:'json',
      //data: { MaSP: ma_attr, color: scolor, size: ssize, quantity: sl},
      success : function (result){
        //if (result['success']) {
         var str_att = "";
          str_att += "<strong>"+color+":</strong>";
           str_att += " "+size+"</br>"; 
        $(".cart_success_content_size").html(str_att);//in ra thông bao <strong>Màu đen:</strong> size 2 (10 - 13kg)
          ///var arr_cart = result['total'].split("-");
          ///$('#noti_total_cart_num').html(3);//hiện có
          ///$('#noti_total_cart_sum').html("Tổng giỏ hàng: " + 121.000); //arr_cart[1]);// +121.000 đ.
          //$('#cart-total').html(result['total']);
          $('#notification_cart').show();//hiển thị thông tin sản phẩm đã thêm vào giỏ
          $(".box_att select").each(function () {
            $(this).prop("selectedIndex", 0);
          });
        //}
        $("#button-cart").attr("disabled", false);			
      }
	  }); 
  });
</script>

{{!-- XỬ LÝ SIZE & COLOR --}}
<script type="text/javascript">
  $(".input-qty[type='text']").attr('disabled', true);
  function bindSelectAttr(){
    //var cl = $( ".color.checked" ).attr("id");
    //var si = $( ".att_size.checked" ).attr("data");
    //var chonmau = '<input type="text" class="form-control" name="color" id="color" value="'+cl+'">';
    //$(".chonmau").html(chonmau);//hiện ra trên trang
    //var chonsize = '<input type="text" class="form-control" name="size" id="size" value="'+si+'">';
    //$(".chonsize").html(chonsize);//hiện ra trên trang

    var color = $( ".color.checked" ).text();
    var size = $( ".att_size.checked" ).attr("data");
    console.log("colordd"+color);
    console.log("sizess"+size);
    $( ".box_att select" ).each(function( index ) {
      $(this).find("option").removeAttr('selected');
    });
    if(color && size){
      $( ".box_att select" ).each(function( index ) {
        if($(this).attr("rel") == color){
          $(this).find("option").each(function( index ) {
            if($(this).attr("rel") == size){
              $(this).attr('selected','selected');
              var sl= $('#option-240299 :selected').text();//lấy số lượng
              var htmls = '<span>Kho: </span>'+sl+'<br/>';//{{tongkho}}/
              $("#soluongs").html(htmls);//xuất số lượng kho
              var sp_id = $(this).attr("id");
              console.log("spid:",sp_id)
              $(".input-qty[type='text']").attr('disabled', false);
              var htmlinput = `<input onclick="giamm()" type="button" value="-">
                  <input required id="quantity" name="quantity" type="text" value="1" maxlength = "3" 
                  onkeyup="isNumberKey(event)" oninput="maxLengthCheck(this)">
                  <input onclick="tangg()" type="button" value="+">`;
              $("#txtsoluong").html(htmlinput);
            }
          });
        }
      });
    }
  }

  function att_color_choose(){
    $(".color").click(function(){
      $(".color").removeClass("checked");
      $(this).addClass("checked");
      var arr_opti = $(this).attr("data").split("@");
      $( ".att_size" ).each(function( index ) {
        if( $.inArray( $( this ).attr("data"), arr_opti ) !== -1 ){
            $( this ).removeClass("disabled");
        }else{
            $( this ).addClass("disabled");
            $( this ).removeClass("checked").text("Size "+$(this).attr("data"));
        }
      });
      bindSelectAttr();
    });
  }
  function att_size_choose(){
    $(".att_size").click(function(){
      if($( this ).hasClass("disabled")){
          return false;
      }
      $( ".att_size.checked" ).each(function( index ) {
          $( this ).removeClass("checked").text("Size "+$(this).attr("data"));
          
          
      });
      $(this).addClass("checked").text("Size " + $(this).attr("data") + " " +$(this).attr("title"));
        
      bindSelectAttr();
    });
  }
  $(document).ready(function(){
    att_color_choose();
    att_size_choose();      
    //render trang HIỆN TẠI
    $.ajax({
      type:"",//GET
      url:'', //'index.php?route=product/product/getProductSize',
      data: '',//product_id=15645&showSize=1
      success:function(html){
          if(html !="")
          $("#box_att_product_details").html(html);
      }
    });
    //xóa ẩn 
    //$('#notification_cart').show();//hiển thị
     $(".icon-remove").click(function () {
          $("#notification_cart").hide();
      });
  });
</script>
</body>

</html>