<head>
     
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="/public/seach/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="/public/seach/responsive.css">
  
</head>

<!-- header section start -->
         <div class="header_section">
            <div class="container">
               <div class="containt_main">
                  {{!-- <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category 
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                     </div>
                  </div> --}}
                  <div class="main">
                     <!-- Another variation with a button -->
                     <form class="input-group" method="GET" action="/search" >
                        <input class="form-control" name="TenSP" type="text" placeholder="Tìm kiếm sản phẩm...">
                        <div class="input-group-append">
                           <button class="btn btn-secondary" type="submit" style="background-color: #7fad39; border-color:#f26522 ">
                           <i class="fa fa-search"></i>
                           </button>
                        </div>
                     </form>
                  </div>
                  {{!-- <div class="header_box">
                     <div class="lang_box ">
                        <a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                        <img src="images/flag-uk.png" alt="flag" class="mr-2 " title="United Kingdom"> English <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu ">
                           <a href="#" class="dropdown-item">
                           <img src="images/flag-france.png" class="mr-2" alt="flag">
                           French
                           </a>
                        </div>
                     </div>
                 <div class="login_menu">
                              <div class="dropdown pull-right">
                           <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                              {{#if session.cart.totalItems }}
                              <span>({{session.cart.totalItems}})</span>
                              {{/if}}
                           </a>
                           {{#if session.cart.totalItems }}
                           <div class="dropdown-menu">
                              <div class="cart">
                                 {{#each session.cart.items }}
                                 <div class="row">
                                       <div class="col-xs-4">
                                          {{ this.item.TenSP }}
                                       </div>
                                       <div class="col-xs-4 text-right">
                                          <span class="badge">{{ this.quantity }}</span>
                                       </div>
                                       <div class="col-xs-4 text-right">
                                          {{ this.Gia }} Tổng 
                                       </div>
                                 </div>
                                 {{/each}}
                                 <div class="row">
                                       <div class="text-right">
                                          <div class="totalPrice">Tổng cộng: {{ session.cart.totalPrice }} </div>
                                          <a href="/cart/" class="btn btn-success">Procceed</a>
                                       </div>
                                 </div>
                              </div>
                           </div>
                           {{/if}}
                     </div>
                     </div> 
                      <div class="login_menu">
                        <ul>
                           <li><a href="/shop_cart">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              <span class="padding_10">{{session.cart.totalItems}}</span>
                              </a>
                           </li> 
                          <li><a href="/shop_cart"><i class="fa fa-shopping-cart"></i> <span>{{session.cart.totalItems}}</span></a></li>
                             <li><a href="#">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <span class="padding_10">Cart</span></a>
                           </li>  
                        </ul>
                     </div> 
                     
                  </div> --}}
               </div>
            </div>
         </div>
         <!-- header section end -->
        {{!-- {{>banner}} --}}

 <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script>