<html dir="ltr" lang="vi" class=" js csstransitions">
  <head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="content-language" content="vi">
<link rel="alternate" href="#" hreflang="vi">
<title>Thanh Toán</title>
<!-- App favicon -->
        <link rel="shortcut icon" href="\public\favicon.ico">

<link href="#" rel="icon">
<link rel="stylesheet" type="text/css" href="https://www.bexinhshop.vn/catalog/view/javascript/jquery/colorbox/colorbox.css" media="screen">
<link rel="stylesheet" type="text/css" href="https://www.bexinhshop.vn/catalog/view/javascript/quickcheckout/uniform/css/uniform.default.css" media="screen">
<link rel="stylesheet" type="text/css" href="https://www.bexinhshop.vn/catalog/view/theme/default/stylesheet/quickcheckout/quickcheckout.css" media="screen">
<link rel="stylesheet" type="text/css" href="https://www.bexinhshop.vn/catalog/view/theme/default/stylesheet/quickcheckout/mobile.css" media="screen">
<link rel="stylesheet" type="text/css" href="https://www.bexinhshop.vn/catalog/view/theme/default/stylesheet/quickcheckout/theme/classic.css" media="screen">
<link rel="stylesheet" type="text/css" href="https://www.bexinhshop.vn/global_bx.css?ver=1.7.4">
<link rel="stylesheet" type="text/css" href="https://www.bexinhshop.vn/catalog/view/theme/pinshop/assist/fonts/font-awesome.css">
<script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ecommerce.js"></script>
<script src="https://connect.facebook.net/signals/config/328591041988090?v=2.9.48&amp;r=stable" async=""></script>
<script src="https://connect.facebook.net/signals/config/328084215374698?v=2.9.48&amp;r=stable" async=""></script>
<script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
<script async="" src="https://www.google-analytics.com/analytics.js"></script>
<script type="text/javascript" src="https://www.bexinhshop.vn/global_bx.js?ver=1.4.7"></script>

<style>
  .logo{
    background: url(https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/icon_baby/icon-logo.png) 0px 0px no-repeat !important;
    background-size: 135px !important;
    -webkit-background-size: 116px 35px;
    -moz-background-size: 116px 35px;
    height: 56px;
    top: 0;
  }
  .addtocart {
  background:none;
  background-color: #e5101d !important;
  border: 1px #c70410 solid;
  border-radius: 6px;
  color: white !important;
  padding: 13px 10px 10px 35px;
  text-align: center;
  display: inline-block;
  font-size: 16px  !important;
  margin-top:5px;
  font-weight: bold;
  width: 100%;
  }
  .addtocart:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-50561768-1', 'bexinhshop.vn');
  ga('require', 'displayfeatures');
  ga('require', 'ecommerce', 'ecommerce.js');
  ga('send', 'pageview');
</script>

<meta http-equiv="origin-trial" content="A+sitaPn3hlQ8QipTsncwHz+k1NvfPtFsQqIOiD8GK3M9v9XCeQqlF7x1P9AVJdoYTiJPZXZc5XZYpwc10fH4wEAAACfeyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGVhZHNlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiQ29udmVyc2lvbk1lYXN1cmVtZW50IiwiZXhwaXJ5IjoxNjQzMTU1MTk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlLCJ1c2FnZSI6InN1YnNldCJ9">
<script src="https://www.googleadservices.com/pagead/conversion/980934394/?random=1637756557484&amp;cv=9&amp;fst=1637756557484&amp;num=1&amp;label=vXLiCNOcol4Q-r3f0wM&amp;bg=ffffff&amp;hl=en&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;eid=375603261&amp;u_h=864&amp;u_w=1536&amp;u_ah=864&amp;u_aw=1536&amp;u_cd=24&amp;u_his=4&amp;u_tz=420&amp;u_java=false&amp;u_nplug=5&amp;u_nmime=2&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Fwww.bexinhshop.vn%2Findex.php%3Froute%3Dcheckout%2Fcheckout&amp;tiba=Thanh%20To%C3%A1n&amp;capi=1&amp;hn=www.googleadservices.com&amp;rfmt=3&amp;fmt=4">
</script>
  </head>

  <body>
  <div class="navbar navbar-fixed-top topbar">
    <div class="checkout_step2">
    <div style="float:left;width:140px"><a class="logo" href="/" title="Quần áo trẻ em" alt="Quần áo trẻ em"><img src="https://www.bexinhshop.vn/catalog/view/theme/pinshop/images/blank_logo.png" width="139" height="35"></a></div>
     <div class="hedertop" style="text-align: right;color: white !important; font-size: 18px !important; padding: 13px 10px 10px 35px;">
     xin chào: {{#if lcIsAuthenticated}}{{lcAuthUser.tenkh}}{{/if}}
      </div>
    </div>
  </div>
  <div class="afterheader"></div>     
  <div id="notification"></div>
  <div id="container">
    <div id="content"> 
      <!-- Quick Checkout v4.0 by Dreamvention.com checkout/quickcheckout.tpl -->
      <div class="doublepad">
          <!-- Quick Checkout v4.0.5 by Dreamvention.com module/quickcheckout.tpl -->
        <style>
          #quickcheckout { max-width: px; 
          margin: 0 auto;
          }
          .blocks{
            display:none}
          #qc_right{width:50%}
          @media (max-width: 395px) {
            #qc_right{width:100%}
          }
        </style>

        <div id="quickcheckout" class="window">
          <div class="wait" style="display: none;"><span>Vui lòng đợi giây lát</span></div>
          <div class="wrap">
            <form method="POST" action="/checkout">
            <div class="block-content">
              <div
                id="qc_left"
                class="aqc-column aqc-column-1"
                style="width:30%"
              ><div
                  id="step_2"
                  data-sort="2"
                  data-row="1"
                  data-column="1"
                  data-width="50"
                  class="blocks"
                  style="display: block;"
                >
                  <div id="payment_address_wrap">
                    <div class="box box-border">
                      <div class="box-heading"><i class="icon-profile"></i>
                        <span>Thông tin giao hàng</span></div>
                      <div class="box-content">
                        <div
                          class="aqc-column aqc-column-8"
                          style="width:100%;display:none"
                        ></div>
                        <div class="description"></div>
                        <!-- Start #payment_address Thông tin khách hàng-->
                        <div id="payment_address">
                          <div
                            id="firstname_input"
                            class="text-input sort-item"
                            data-sort="1"
                          >
                            <label for="payment_address_firstname">
                              <span class="required">*</span>
                              <span class="text">Tên người nhận:</span>
                            </label>
                            
                            <input type="text" name="tennn" id="txtName" value="{{this.user.tenkh}}" placeholder="VD: Nguyen Van A"
                            required pattern="^[^!@#$&()~%{}.,*+?^$|'<>/=+_[\]\\`-]{6,30}$"title="Tên người nhận không hợp lệ!">
                          </div>
                        
                          <div
                            id="email_input"
                            class="text-input sort-item"
                            data-sort="3"
                          >
                            <label for="payment_address_email">
                              <span class="required">*</span>
                              <span class="text">E-Mail:</span>
                            </label>
                            
                            <input type="text" id="txtEmail" name="email" value="{{this.user.email}}" placeholder="VD: shoppn@gmai.com"
               required spattern="^[a-z0-9]+@[a-z0-9.]{6,20}$"title="Email không hợp lệ!">
                          </div>

                          <div
                            id="telephone_input"
                            class="text-input sort-item"
                            data-sort="4"
                          >
                            <label for="payment_address_telephone">
                              <span class="required">*</span>
                              <span class="text">Điện thoại:</span>
                            </label>
                            
                            <input type="text" id="txtSdt" name="sdt" value="{{this.user.sdt}}" placeholder="VD: 0123456789" 
               required  pattern="^[0-9]{10}$"title="Số điện thoại không hợp lệ!">
                          </div>
                          <div class="clear"></div>
                        </div>
                        <!-- End #payment_address Thông tin khách hàng-->
                      </div>
                    </div>
                    <!--Start Địa chỉ khách-->
                    <div
                      id="heading_input"
                      class="box box-border sort-item heading"
                      data-sort="8"
                    >
                      <div class="box-content">
                        <div>
                          <div
                            id="address_1_input"
                            class="text-input sort-item"
                            data-sort="13"
                          >
                            <label for="payment_address_address_1">
                            <span class="required">*</span>
                              <span class="text">Địa chỉ:</span>
                            </label>
                            
                            <input type="text" id="txtdiachi" name="diachi" value="{{this.user.diachi}}" placeholder="VD: 180 Cao Lỗ" 
                required pattern="^[^!@#$&()~%{}.,*+?^$|'<>=+_[\]\\`-]{6,30}$"title="Địa chỉ không hợp lệ!">
                          </div>
                          <div
                            id="address_1_input"
                            class="text-input sort-item"
                            data-sort="13"
                          >
                            <label for="payment_address_address_1">
                            <span class="required">*</span>
                              <span class="text">Phường / Xã:</span>
                            </label>
                            
                            <input type="text" id="txtphuong_xa" name="phuong_xa" value="{{this.user.phuong_xa}}" placeholder="VD: phường 4" 
                required pattern="^[^!@#$&()~%{}.,*+?^$|'<>/=+_[\]\\`-]{6,30}$"title="Địa chỉ không hợp lệ!">
                          </div>
                          <div
                            id="city_input"
                            class="text-input sort-item"
                            data-sort="15"
                          >
                            <label for="payment_address_city">
                              <span class="required">*</span>
                              <span class="text">Quận / Huyện:</span>
                            </label>
                            
                            <input type="text" id="txtquan_huyen" name="quan_huyen" value="{{this.user.quan_huyen}}" placeholder="VD: quận 8" 
                required pattern="^[^!@#$&()~%{}.,*+?^$|'<>/=+_[\]\\`-]{6,30}$"title="Địa chỉ không hợp lệ!">
                          </div>
                          <div
                            id="zone_id_input"
                            class="select-input sort-item"
                            data-sort="18"
                          >
                            <label for="payment_address_zone_id">
                              <span class="required">*</span>
                              <span class="text">Tỉnh:</span>
                            </label>
                            <select
                              name="tinh"
                              data-require="require"
                              data-refresh="3"
                              onchange="singleSelectChangeValue(this)"
                            >{{!-- <option value="Hồ Chí Minh" selected="selected">Hồ Chí
                                Minh</option> --}}
                              <option value="{{this.user.tinh}}">{{this.user.tinh}}</option>
                              <option value="An Giang">An Giang</option>
                              <option value="Bà Rịa-Vũng Tàu">Bà Rịa-Vũng Tàu</option>
                              <option value="Bắc Giang">Bắc Giang</option>
                              <option value="Bắc Kan">Bắc Kan</option>
                              <option value="Bạc Liêu">Bạc Liêu</option>
                              <option value="Bắc Ninh">Bắc Ninh</option>
                              <option value="Bến Tre">Bến Tre</option>
                              <option value="Bình Dương">Bình Dương</option>
                              <option value="Bình Phước">Bình Phước</option>
                              <option value="Bình Thuận">Bình Thuận</option>
                              <option value="Bình Định">Bình Định</option>
                              <option value="Cà Mau">Cà Mau</option>
                              <option value="Cần Thơ">Cần Thơ</option>
                              <option value="Cao Bằng">Cao Bằng</option>
                              <option value="Dak Lak">Dak Lak</option>
                              <option value="Dak Nông">Dak Nông</option>
                              <option value="Gia Lai">Gia Lai</option>
                              <option value="Hà Giang">Hà Giang</option>
                              <option value="Hà Nam">Hà Nam</option>
                              <option value="Hà Nội">Hà Nội</option>
                              <option value="Hà Tây">Hà Tây</option>
                              <option value="Hà Tĩnh">Hà Tĩnh</option>
                              <option value="Hải Dương">Hải Dương</option>
                              <option value="Hải Phòng">Hải Phòng</option>
                              <option value="Hậu Giang">Hậu Giang</option>
                              <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                              <option value="Hòa Bình">Hòa Bình</option>
                              <option value="Huế">Huế</option>
                              <option value="Hưng Yên">Hưng Yên</option>
                              <option value="Khánh Hòa">Khánh Hòa</option>
                              <option value="Kiên Giang">Kiên Giang</option>
                              <option value="Kontum">Kontum</option>
                              <option value="Lai Châu">Lai Châu</option>
                              <option value="Lâm Đồng">Lâm Đồng</option>
                              <option value="Lạng Sơn">Lạng Sơn</option>
                              <option value="Lào Cai">Lào Cai</option>
                              <option value="Long An">Long An</option>
                              <option value="Nam Định">Nam Định</option>
                              <option value="Nghệ An">Nghệ An</option>
                              <option value="Ninh Bình">Ninh Bình</option>
                              <option value="Ninh Thuận">Ninh Thuận</option>
                              <option value="Phú Thọ">Phú Thọ</option>
                              <option value="Phú yên">Phú yên</option>
                              <option value="Quảng Bình">Quảng Bình</option>
                              <option value="Quãng Nam">Quãng Nam</option>
                              <option value="Quãng Ngãi">Quãng Ngãi</option>
                              <option value="Quãng Ninh">Quãng Ninh</option>
                              <option value="Quãng Trị">Quãng Trị</option>
                              <option value="Sóc Trăng">Sóc Trăng</option>
                              <option value="Sơn La">Sơn La</option>
                              <option value="Tây Ninh">Tây Ninh</option>
                              <option value="Thái Bình">Thái Bình</option>
                              <option value="Thái Nguyên">Thái Nguyên</option>
                              <option value="Thanh Hóa">Thanh Hóa</option>
                              <option value="Tiền Giang">Tiền Giang</option>
                              <option value="Trà Vinh">Trà Vinh</option>
                              <option value="Tuyên Quang">Tuyên Quang</option>
                              <option value="Vĩnh Long">Vĩnh Long</option>
                              <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                              <option value="Yên Bái">Yên Bái</option>
                              <option value="Đà Nẵng">Đà Nẵng</option>
                              <option value="Điện Biên">Điện Biên</option>
                              <option value="Đồng Nai">Đồng Nai</option>
                              <option value="Đồng Tháp">Đồng Tháp</option>
                            </select>
                          </div>
                          <div class="clear"></div>
                        </div>
                        <!-- #payment_address -->
                      </div>
                    </div>
                    <!--End Địa chỉ khách-->
                  </div>
                  <!--End Thông tin giao hàng-->
                </div>
                <!--Start Thông tin vận chuyển-->
               {{!--  <div
                  id="step_4"
                  data-sort="4"
                  data-row="1"
                  data-column="1"
                  data-width="30"
                  class="blocks"
                  style="display: block;"
                >
                  <div id="shipping_method_wrap">
                    <div class="box box-border">
                      <div class="box-heading"><i
                          class="icon-shipping-method"
                        ></i>
                        <span>vận chuyển</span></div>
                      <div class="box-content">
                        <div class="">
                          <div class="title hide">X-Shipping</div>
                          <div class="radio-input">
                            <div
                              class="radio"
                              id="uniform-xshipping.xshipping2"
                              style="display: none;"
                            ><span class="checked"><input
                                  type="radio"
                                  name="shipping_method"
                                  value="xshipping.xshipping2"
                                  id="xshipping.xshipping2"
                                  checked="checked"
                                  data-refresh="5"
                                  class=""
                                  style="display:none"
                                /></span></div>
                            <label>
                              <span class="text" id="gh">Giao hàng đến
                                <b style="color:#F5447B">Hồ Chí Minh</b>
                                với phí
                              </span>
                              <span
                                style="color:#F5447B;font-weight:bold">18.000 đ
                              </span>
                            </label>
                            <div style="color:blue;  margin-top:-20px">
                              <br />- Thời gian nhận hàng: 2 - 5 ngày.</div>
                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                </div> --}}
                <!--End Thông tin vận chuyển-->
              </div>
              <div
                id="qc_right"
                class="aqc-column"
                style="float:left;width:28%"
              >
                <div class="aqc-column aqc-column-2" style="width:100%">
                  <!--Start Thanh toán-->
                  <div
                    id="step_5"
                    data-sort="5"
                    data-row="1"
                    data-column="2"
                    data-width="30"
                    class="blocks"
                    style="display: block;"
                  >
                    <div id="payment_method_wrap">
                      <div class="box box-border">
                        <div class="box-heading"><i
                            class="icon-payment-method"
                          ></i>
                          <span>thanh toán</span>
                        </div>
                        <div class="box-content">
                          <div class="payment-methods">
                            <div class="radio-input">
                              <div class="radio" id="uniform-cod">
                                <span class="checked"><input
                                    type="radio"
                                    name="payment_method"
                                    value="cod"
                                    id="cod"
                                    checked="checked"
                                    class=""
                                   
                                  />
                                </span>
                              </div>
                              <label style="width:80% !important;" for="cod">
                                Thu tiền khi giao hàng (COD)
                              </label>
                                
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--End Thanh toán-->
                  <div
                    id="step_7"
                    data-sort="7"
                    data-row="2"
                    data-column="2"
                    data-width="50"
                    class="blocks"
                    style="display: block;"
                  >
                    <style> #payment_input select{ width: inherit; }</style>
                    <div id="payment_wrap">
                      <div class="box">
                        <div class="box-content">
                          <div id="payment_input">
                            <div id="confirm_payment"><div class="buttons">
                                <div class="right">
                                  <input
                                    type="button"
                                    value="Xác nhận đơn hàng"
                                    id="button-confirm"
                                    class="button"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="aqc-column aqc-column-3" style="width:100%"></div>
              </div>
              <div
                id="qc_right_1"
                class="aqc-column-right"
                style="float:right;width:40%;"
              >
                <div class="box box-border">
                  <div class="box-heading"><i
                      class="icon-shipping-method"
                    ></i>
                    <span>Đơn hàng</span></div>
                  <div class="box-content">
                    <div class="aqc-column aqc-column-4" style="width:100%">
                      <!--Start Thông tin đơn hàng-->
                      <div
                        id="step_6"
                        data-sort="6"
                        data-row="2"
                        data-column="4"
                        data-width="50"
                        class="blocks"
                        style="display: block;"
                      >
                        <div id="cart_wrap">
                          <div class="checkout-product">
                            {{#if products }}
                            <table class="table cart">
                              <thead>
                                <tr>
                                  <td class="name">Tên sản phẩm</td>
                                  <td class="model hide">Mã hàng</td>
                                  <td class="quantity">Số lượng</td>
                                  <td class="price">Đơn Giá</td>
                                  <td class="total">Tổng</td>
                                </tr>
                              </thead>
                              <tbody>
                                {{#each products }}
                                <tr>
                                  <td class="name">
                                    <img
                                      src="/public/images/{{this.item.anh}}"
                                      style="float: left;width:18%"
                                    />
                                    <div style="float:right; width:100px; padding: 13px 10px;">
                                      <small> {{this.item.color}}: {{this.item.size}}</small>
                                      <br />
                                    </div>
                                    <br clear="all" />
                                  </td>
                                  <td class="model hide">KTB196500</td>
                                  <td class="quantity" style="padding: 13px 10px;">
                                    {{ this.quantity }}
                                  </td>
                                  <td class="price" style="padding: 13px 10px;">{{format_number this.item.gia}}đ</td>
                                  <td class="total" style="padding: 13px 10px;">{{format_number this.gia }}đ</td>
                                </tr>
                                {{/each}}  
                              </tbody>
                            </table>
                            <table class="table summary">
                              <tbody class="">
                                {{!-- <tr style="" class="coupon">
                                  <td class="text" colspan="2">Nhập mã giảm giá:
                                    <input
                                      type="text"
                                      value=""
                                      name="coupon"
                                      id="coupon"
                                      style="width:100px;height:30px"
                                    />
                                    <input
                                      type="button"
                                      id="confirm_coupon"
                                      style="background-color:#f5f5f5;border:1px solid;margin:3px 0 0 5px;float:right"
                                      value="OK"
                                    /></td>
                                </tr> --}}
                                <tr>
                                  <td class="text">Thành tiền:</td>
                                  <td class="total">{{format_number toPri }}đ</td>
                                </tr>
                                {{!-- <tr>
                                  <td class="text">Phí vận chuyển:</td>
                                  <td class="total">18.000 đ</td>
                                </tr> --}}
                                <tr>
                                  <td
                                    class="text"
                                    style="font-size:15px; background-color: #f0f0f0; text-transform: uppercase; font-weight:bold"
                                  >Tổng cộng: </td>
                                  <td
                                    class="total"
                                    style="font-size:15px; background-color: #f0f0f0;font-weight:bold"
                                  >{{format_number toPri }}đ</td>
                                </tr>
                              </tbody>
                            </table>
                            {{/if}}
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <!--End Thông tin đơn hàng-->
                      <!--Start Ghi chú và đặt hàng-->
                      <div
                        id="step_8"
                        data-sort="8"
                        data-row="2"
                        data-column="4"
                        data-width="50"
                        class="blocks"
                        style="display: block;"
                      >
                        <div id="confirm_wrap">
                          <div class="box">
                            <div class="box-content">
                              <div id="confirm_inputs"></div>
                                  <div class="right" >
                                    <button type="submit" id="button-cart" class="addtocart" onclick="kiemTraForm()">
                                      ĐẶT HÀNG
                                    </button>
                                   {{!--  <button type="submit" class="addtocart">ĐẶT HÀNG</button> --}}
                                  </div>
                                  <br />
                                  <div
                                    id="comment_input"
                                    class="textarea-input sort-item"
                                    data-sort=""
                                  >
                                    <label for="confirm_comment">
                                      <span class="required hide">*</span>
                                      <span class="text" style="color:#000000">Ghi Chú Đơn Hàng:</span>
                                    </label>
                                    <textarea
                                      name="ghichu"
                                      id="confirm_comment"
                                      data-require=""
                                    ></textarea>
                                  </div>
                                  <div>
                                    * Quý khách khó khăn trong việc đặt hàng
                                    hoặc cần tư vấn đổi trả hàng vui lòng gọi:
                                    <b>1900.636100</b>
                                    hoặc
                                    <b>028.7300.6800</b>
                                  </div>
                               
                              <div class="clear"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--End Ghi chú và đặt hàng-->
                    </div>
                  </div>
                </div>
              </div>
              <br class="clear" />
            </div>
            </form>
          </div>
        </div>
        {{!-- xử lý vận chuyển --}}
        <script language="javascript">
          function singleSelectChangeValue(obj){
            var options = obj.children;
            var html = '';
            for (var i = 0; i < options.length; i++){
              if (options[i].selected){
                html += 'Giao hàng đến <b style="color:#F5447B">'+options[i].text+'</b> với phí';
              }
            }
            document.getElementById('gh').innerHTML = html;
          }
        </script>

      <script type="text/javascript">
        function kiemTraForm() {
          var name = document.getElementById("txtName").value
          var email = document.getElementById("txtEmail").value
          var sdt = document.getElementById("txtSdt").value
          var diachi = document.getElementById("txtdiachi").value
          var phuongxa = document.getElementById("txtphuong_xa").value
          var quanhuyen = document.getElementById("txtquan_huyen").value
          
          if(name==""){
              alert("Chưa nhập Tên người nhận, mời bạn nhập lại!")
              return false
          }
          if(email==""){
              alert('Chưa nhập Email, mời bạn nhập lại!')
              return false
          }
          if(sdt==""){
              alert('Chưa nhập Số điện thoại, mời bạn nhập lại!')
              return false
          }
          if(diachi==""){
              alert('Chưa nhập địa chỉ, mời bạn nhập lại!')
              return false
          }
          if(phuongxa==""){
              alert('Chưa nhập địa chỉ, mời bạn nhập lại!')
              return false
          }
          if(quanhuyen==""){
              alert('Chưa nhập địa chỉ, mời bạn nhập lại!')
              return false
          }
          //alert('Đăng ký thành công!')
          return true
        }
      </script>

      </div>
    </div>
  </div>  
  </body>

</html>