<!DOCTYPE html>
<html dir="ltr" lang="vi" class=" js csstransitions"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

<meta http-equiv="content-language" content="vi">
<link rel="alternate" href="https://www.bexinhshop.vn/index.php?route=checkout/cart" hreflang="vi">
<title>Giỏ Hàng</title>


<meta property="fb:app_id" content="1689049434695065">
<meta property="og:site_name" content="bexinhshop.vn">
<meta property="og:url" content="https://www.bexinhshop.vn">
<meta property="og:type" content="website">
<meta name="distribution" content="Global">
<meta name="revisit" content="1 days">
<meta name="geo.placename" content="Vietnamese">
<meta name="geo.region" content="VN">
<meta name="dc.creator" content="bexinhshop">
<meta name="generator" content="bexinhshop.vn">
<link rel="dns-prefetch" href="https://www.bexinhshop.vn/">

<link href="https://www.bexinhshop.vn/image/data/cart.png" rel="icon">

<link rel="stylesheet" type="text/css" href="./Giỏ Hàng_files/colorbox.css" media="screen">

<link rel="stylesheet" type="text/css" href="./Giỏ Hàng_files/global_bx.css">


<link rel="stylesheet" type="text/css" href="./Giỏ Hàng_files/font-awesome.css">

<!-- Twitter bootstrap 2.1.0 -->
<script type="text/javascript" async="" src="./Giỏ Hàng_files/ecommerce.js.download"></script><script src="./Giỏ Hàng_files/328591041988090" async=""></script><script src="./Giỏ Hàng_files/328084215374698" async=""></script><script async="" src="./Giỏ Hàng_files/fbevents.js.download"></script><script async="" src="./Giỏ Hàng_files/analytics.js.download"></script><script type="text/javascript" src="./Giỏ Hàng_files/global_bx.js.download"></script>



<style>

  input[type="button"].addtocart {
  background: url("https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/cart.png")  no-repeat;
  border: 1px #c70410 solid;
  border-radius: 3px;
  padding: 13px 10px 10px 35px;
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  background-color: #e5101d;
  position: relative;
  background-size: 30px 30px;
  background-position: 2px 5px;
  margin-top:5px
}

.footer_cart{
  background: url("https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/imgres.jpg")  no-repeat;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 21%;
  
}


@media (max-width: 710px) {
  .call_now{
    background: url('https://www.bexinhshop.vn/catalog/view/theme/pinshop/stylesheet/phone.jpg') no-repeat; 
    background-size: 15%;
    background-position: 5px 5px;
  }
}  

@media (max-width: 470px){
  input[type="button"].m_pdetails_addtocart{
    width: 62%;
    float: right;
    border-radius: 0px;
    background-image: none;
  }
}

</style>
</head>
<body>
{{#if products }}
    <div id="container">
        <div class="container">
            <div class="doublepad">
                <div class="cart-info">
                    <br>
                    <div class="pagetitle_1" style="text-align: left;">GIỎ HÀNG</div>
                    <table class="table">
                        <thead>
                        <tr>
                            <td class="image" colspan="2">Sản phẩm</td>
                            <td class="model" style="width: 70px;">Mã hàng</td>
                            <td class="quantity">
                            Số lượng				
                            </td>
                            <td class="price" width="80">Đơn Giá</td>
                            <td class="total" width="65">Tổng cộng</td>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each products }}
                        <tr>
                            <td class="image" width="50">                      
                            <a href="products/detail/{{this.item.masp}}">
                            <img src="/public/images/{{this.item.anh}}" alt="{{this.item.tensp}}" title="{{this.item.tensp}}"></a>
                            </td>
                            <td class="name"><a href="products/detail/{{this.item.masp}}" alt="{{this.item.tensp}}" title="{{this.item.tensp}}">{{this.item.tensp}}</a>
                                <div>
                                    - <small>{{this.item.color}}: {{this.item.size}}</small><br>
                                </div>
                                <div id="resultss">
                                </div>
                            </td>
                            <td class="model">{{this.item.masp}}{{!-- -{{this.item.soluong}} --}}</td>
                            
                            <form method="POST" {{!-- action="/update/{{this.item.sp_id}}" --}}>
                                <td class="quantity" >
                                    {{!-- <div id="results">
                                        <input type="text" class="smallinput" name="quantity" style="width: min-content;"
                                        id="mes" onkeyup="xemKetQua()" value="{{this.quantity}}" min="1" max="{{this.item.soluong}}" size="1">
                                    </div> --}}
                                    
                                        <input onclick="var result = document.getElementById('quantity{{item.sp_id}}'); var qty = result.value; if( !isNaN(qty) &amp; qty &gt; 1 ) result.value--;return false;" type="button" value="-">
                                            <input class="smallinput{{item.sp_id}}" id="quantity{{item.sp_id}}" name="quantity" type="text" value="{{this.quantity}}" maxlength = "3"  max="{{this.item.soluong}}" 
                                            onkeyup="var sl =Number($('input.smallinput{{item.sp_id}}').attr('max')); if (document.getElementById('quantity{{item.sp_id}}').value.match(/^[0-9]+$/) == null){ var str = document.getElementById('quantity{{item.sp_id}}').value; document.getElementById('quantity{{item.sp_id}}').value = str.substring(0, str.length - 1); return false;} if(parseInt(document.getElementById('quantity{{item.sp_id}}').value) >= sl){ document.getElementById('quantity{{item.sp_id}}').value = sl; return true;}" 
                                            oninput="maxLengthCheck(this)" style="width: min-content;" size="1">
                                        <input onclick="var result = document.getElementById('quantity{{item.sp_id}}'); var qty = result.value; var max =Number($('input.smallinput{{item.sp_id}}').attr('max')); if( !isNaN(qty) && qty < max) result.value++;return false;" type="button" value="+">
                                    
                                    &nbsp;
                                    <span class="inline">
                                        <button type="submit" formaction="/update/{{item.sp_id}}" title="Cập nhật số lượng">
                                        <i class="icon-refresh icon-large"></i>
                                        </button>
                                        &nbsp;
                                        <a href="/remove/{{item.sp_id}}" title="Không mua sản phẩm này" alt="Không mua sản phẩm này"><i class="icon-trash icon-large"></i></a>
                                    </span>
                                </td>
                            </form>
                            <td class="price">{{format_number this.item.gia}} đ</td>
                            <td class="total">{{format_number this.gia }}đ</td>
                        </tr>
                            {{/each}} 
                        </tbody>
                    </table>
                    </div>
            <span class="prodwarning colorfront"></span>
            <div class="cart-total pull-right">
                <br>
            <div class="pagetitle_1" style="text-align: left; ">ĐƠN HÀNG</div>
            <br>
                <div class="total_ck">
                <table id="total">
                            <tbody><tr>
                    <td class="alright padright"><b>Số lượng:</b></td>
                    <td class="alleft ">{{totalItems}} sản phẩm</td>
                </tr>
                            <tr>
                    <td class="alright padright"><b>Tổng cộng: </b></td>
                    <td class="alleft ">{{format_number toPri }} đ</td>
                </tr>
                        </tbody></table>
                </div>
                <div class="clearfix"></div>
            <div class="buttons" style="text-align: center">
                <a href="/checkout" class="cart_btn_ck"><i class="icon-share-alt "></i>&nbsp;&nbsp;Đặt hàng</a>
            </div>
                </div>
            <div class="clearfix"></div>    
        </div>
        </div>
    </div>
    <div id="chosseShipping" style="display:none"></div>
    <div class="window" style="text-align:center">
        <div class="footer_cart">
        </div>
        - Bạn có thắc mắc về đơn hàng? 
        - Bạn có thắc mắc về cách mua hàng?
        <p>Hãy liên hệ với chúng tôi: <span style="color:#ff8400;font-size:18px;font-weight:bold">0337876016</span> - Bộ phận CSKH sẽ hỗ trợ bạn!</p>
    </div>
{{else}}
<div class="card-body">
    <p class="card-text">Bạn chưa mua hàng</p>
</div>
{{/if}}
<script type="text/javascript">
              function xemKetQua() {
                 var input_text = document.getElementById("mes")
                 var result = document.getElementById("results")
                 var max =Number($("input.smallinput").attr("max"));
                 var html = '';
                 var text = input_text.value
                 if(text > max){
                 html +='<input type="text" class="smallinput" name="quantity" style="width: min-content;" id="mes" onkeyup="xemKetQua()" value="'+max+'" min="1" max="'+max+'" size="1">'
                 }else{
            	html +='<input type="text" class="smallinput" name="quantity" style="width: min-content;" id="mes" onkeyup="xemKetQua()" value="'+text+'" min="1" max="'+max+'" size="1">'
               } 
                 result.innerHTML = html;
              }
</script>
{{!-- XỬ LÝ SỐ LƯỢNG --}}
<script type="text/javascript">//<![CDATA[
  function isNumberKeyy(evt){// chỉ nhập số
      var charCode = (evt.which) ? evt.which : evt.keyCode
      if (charCode > 31 && (charCode < 49 || charCode > 57))
          return false;
      return true;
  }

  function maxLengthCheck(object){
      if (object.value.length > object.maxLength)
        object.value = object.value.slice(0, object.maxLength)
  }
//]]></script>

    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1031; top: 0px; left: 0px; display: none;"></ul>
    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none;"></ul>

</body>
</html>